---
swagger: "2.0"
info:
  description: Mit dieser API können die Anträge durch die Produktanbieter abgerufen werden. Dabei wird ausschließlich der Kontext des Produktanbieters eingenommen.
  version: "2.32"
  title: Anträge API
  contact:
    name: Europace AG
    url: www.europace2.de
    email: devsupport@europace2.de
host: baufismart.api.europace.de
basePath: /
tags:
  - name: Anträge
    description: Zugriff auf Anträge für die Kreditentscheidung
schemes:
  - https
paths:
  /v2/antraege:
    get:
      tags:
        - Anträge
      summary: Alle Anträge abrufen
      description: "Es werden alle Anträge ausgeliefert, die der authentifizierten Partner sehen darf. Offen: Sortierung, Pagination, Filterung"
      operationId: getAlleAntraege
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: aenderungBis
          in: query
          description: Datum im ISO Format UTC - Zulu
          required: false
          type: string
          x-example: 2016-03-11T10:57:45Z
        - name: aenderungSeit
          in: query
          description: Datum im ISO Format UTC - Zulu
          required: false
          type: string
          x-example: 2016-03-11T10:57:45Z
        - name: angenommenNach
          in: query
          description: Datum im ISO Format UTC - Zulu
          required: false
          type: string
          x-example: 2016-03-11T10:57:45Z
        - name: antragsReferenz
          in: query
          description: Suche nach deiner antragsReferenz
          required: false
          type: string
        - name: datenKontext
          in: query
          description: Datenkontext
          required: false
          type: string
          default: ECHT_GESCHAEFT
          enum:
            - ECHT_GESCHAEFT
            - TEST_MODUS
        - name: limit
          in: query
          description: limit
          required: false
          type: integer
          default: 10
          format: int32
        - name: page
          in: query
          description: page
          required: false
          type: integer
          default: 0
          format: int32
        - name: produktAnbieter
          in: query
          description: produktAnbieter
          required: false
          type: string
        - name: sort
          in: query
          description: "Sortierung der Anträge, aufsteigend oder absteigend"
          required: false
          type: string
          default: absteigend
        - name: X-TraceId
          in: header
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Antraege'
        "400":
          description: Client Error
          schema:
            $ref: '#/definitions/Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
      security:
        - OAuth2:
            - baufinanzierung:antrag:lesen
  /v2/antraege/{vorgang}:
    get:
      tags:
        - Anträge
      summary: Alle Anträge eines Vorgangs abrufen
      description: Als Parameter wird die Vorgangsnummer in der Form 'AB1234' verwendet.
      operationId: getAntraegeByVorgangNummer
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: vorgang
          in: path
          description: Nummer des Antrags
          required: true
          type: string
          x-example: AB1234
        - name: X-TraceId
          in: header
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Antraege'
        "400":
          description: Client Error
          schema:
            $ref: '#/definitions/Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
      security:
        - OAuth2:
            - baufinanzierung:antrag:lesen
  /v2/antraege/{vorgang}/{antrag}:
    get:
      tags:
        - Anträge
      summary: Teilanträge eines Antrags abrufen
      description: Als Parameter wird die Vorgangs- und Antragsnummer in der Form 'AB1234/1' verwendet.
      operationId: getAntrag
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: antrag
          in: path
          description: antrag
          required: true
          type: integer
          format: int32
        - name: vorgang
          in: path
          description: Nummer des Antrags
          required: true
          type: string
          x-example: AB1234/1
        - name: X-TraceId
          in: header
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Antraege'
        "400":
          description: Client Error
          schema:
            $ref: '#/definitions/Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
      security:
        - OAuth2:
            - baufinanzierung:antrag:lesen
  /v2/antraege/{vorgang}/{antrag}/angebot:
    get:
      tags:
        - Anträge
      summary: Angebot des Antrags abrufen
      description: "Es handelt sich um das angenommene Angebot, das zu diesem Antrag geführt hat.  Nutze den Endpunkt /{vorgang}/{antrag}/{teilAntrag}/angebot"
      operationId: getAngebot_1
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: antrag
          in: path
          description: antrag
          required: true
          type: integer
          format: int32
        - name: vorgang
          in: path
          description: "Nummer des Antrags, bestehend aus Vorgangsnummer und Antragnummer."
          required: true
          type: string
          x-example: AB1234/1
        - name: X-TraceId
          in: header
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AngebotZumAntrag'
        "400":
          description: Client Error
          schema:
            $ref: '#/definitions/Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
      security:
        - OAuth2:
            - baufinanzierung:antrag:lesen
      deprecated: true
  /v2/antraege/{vorgang}/{antrag}/{teilantrag}:
    get:
      tags:
        - Anträge
      summary: Einzelnen Antrag abrufen
      description: Als Parameter wird die komplette Antragsnummer in der Form 'AB1234/1/2' verwendet.
      operationId: getAntrag_1
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: antrag
          in: path
          description: antrag
          required: true
          type: integer
          format: int32
        - name: teilantrag
          in: path
          description: teilantrag
          required: true
          type: integer
          format: int32
        - name: vorgang
          in: path
          description: Nummer des Antrags
          required: true
          type: string
          x-example: AB1234/1/2
        - name: X-TraceId
          in: header
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Antrag'
        "400":
          description: Client Error
          schema:
            $ref: '#/definitions/Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
      security:
        - OAuth2:
            - baufinanzierung:antrag:lesen
    patch:
      tags:
        - Anträge
      summary: Antrag aktualisieren
      description: Als Parameter wird die komplette Antragsnummer in der Form 'AB1234/1/2' verwendet. Es können mehrere Operationen gleichzeitig übertragen werden.
      operationId: updateAntrag
      consumes:
        - application/json-patch+json
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: antrag
          in: path
          description: antrag
          required: true
          type: integer
          format: int32
        - name: Authorization
          in: header
          required: false
          type: string
        - in: body
          name: patchOperations
          description: patchOperations
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/PatchOperation'
        - name: teilantrag
          in: path
          description: teilantrag
          required: true
          type: integer
          format: int32
        - name: vorgang
          in: path
          description: Nummer des Antrags
          required: true
          type: string
          x-example: AB1234/1/2
        - name: X-Authentication
          in: header
          required: false
          type: string
        - name: X-TraceId
          in: header
          required: false
          type: string
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - OAuth2:
            - baufinanzierung:antrag:schreiben
  /v2/antraege/{vorgang}/{antrag}/{teilantrag}/angebot:
    get:
      tags:
        - Anträge
      summary: Angebot des Antrags abrufen
      description: "Es handelt sich um das angenommene Angebot, das zu diesem Antrag geführt hat."
      operationId: getAngebot
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: antrag
          in: path
          description: antrag
          required: true
          type: integer
          format: int32
        - name: teilantrag
          in: path
          description: teilantrag
          required: true
          type: integer
          format: int32
        - name: vorgang
          in: path
          description: "Nummer des Antrags, bestehend aus Vorgangsnummer und Antragnummer."
          required: true
          type: string
          x-example: AB1234/1
        - name: X-TraceId
          in: header
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AngebotZumAntrag'
        "400":
          description: Client Error
          schema:
            $ref: '#/definitions/Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
      security:
        - OAuth2:
            - baufinanzierung:antrag:lesen
  /v2/antraege/{vorgang}/{antrag}/{teilantrag}/angebot/zahlungsplaene:
    get:
      tags:
        - Anträge
      summary: Die Zahlungsplaene (Tilgungs- & Sparpläne) des angenommenen Angebots.
      description: Als Parameter wird die komplette Antragsnummer in der Form 'AB1234/1/2' verwendet.
      operationId: getZahlungsplaene
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: antrag
          in: path
          description: Nummer des Antrags
          required: true
          type: integer
          format: int32
          x-example: 1
        - name: teilantrag
          in: path
          description: Nummer des Teilantrags
          required: true
          type: integer
          format: int32
          x-example: 1
        - name: vorgang
          in: path
          description: Nummer des Vorgangs
          required: true
          type: string
          x-example: AB1234
        - name: X-TraceId
          in: header
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Zahlungsplaene'
        "400":
          description: Client Error
          schema:
            $ref: '#/definitions/Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
      security:
        - OAuth2:
            - baufinanzierung:antrag:lesen
  /v2/antraege/{vorgang}/{antrag}/{teilantrag}/ansprechpartner:
    get:
      tags:
        - Anträge
      summary: Den Ansprechpartner (Vertrieb) des  Teilantrags abrufen.
      description: Als Parameter wird die komplette Antragsnummer in der Form 'AB1234/1/2' verwendet.
      operationId: getAnsprechpartner
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: antrag
          in: path
          description: antrag
          required: true
          type: integer
          format: int32
        - name: teilantrag
          in: path
          description: teilantrag
          required: true
          type: integer
          format: int32
        - name: vorgang
          in: path
          description: Nummer des Antrags
          required: true
          type: string
          x-example: AB1234/1/2
        - name: X-TraceId
          in: header
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Partner'
        "400":
          description: Client Error
          schema:
            $ref: '#/definitions/Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
      security:
        - OAuth2:
            - baufinanzierung:antrag:lesen
  /v2/antraege/{vorgang}/{antrag}/{teilantrag}/gegenangebot:
    post:
      tags:
        - Anträge
      summary: Ein Gegenangebot erstellen
      description: Als Parameter wird die komplette Antragsnummer in der Form 'AB1234/1/2' verwendet. Das übergebene Angebot wird sofort als Gegenangebot gestellt. Der alte Antrag wird abgelehnt.
      operationId: erstelleGegenangebot
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: antrag
          in: path
          description: antrag
          required: true
          type: integer
          format: int32
        - name: Authorization
          in: header
          required: false
          type: string
        - in: body
          name: gegenangebot
          description: gegenangebot
          required: true
          schema:
            $ref: '#/definitions/Gegenangebot'
        - name: teilantrag
          in: path
          description: teilantrag
          required: true
          type: integer
          format: int32
        - name: vorgang
          in: path
          description: Nummer des Antrags
          required: true
          type: string
          x-example: AB1234/1/2
        - name: X-Authentication
          in: header
          required: false
          type: string
        - name: X-TraceId
          in: header
          required: false
          type: string
      responses:
        "201":
          description: Created
          schema:
            type: string
        "400":
          description: Client Error
          schema:
            $ref: '#/definitions/Problem'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - OAuth2:
            - baufinanzierung:antrag:schreiben
            - baufinanzierung:echtgeschaeft
  /v2/antraege/{vorgang}/{antrag}/{teilantrag}/status:
    post:
      tags:
        - Anträge
      summary: Setzen des Antragsstatus
      operationId: setAntragsStatus_1
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: antrag
          in: path
          description: antrag
          required: true
          type: integer
          format: int32
        - name: Authorization
          in: header
          required: false
          type: string
        - in: body
          name: statusDTO
          description: statusDTO
          required: true
          schema:
            $ref: '#/definitions/StatusDTO'
        - name: teilantrag
          in: path
          description: teilantrag
          required: true
          type: integer
          format: int32
        - name: vorgang
          in: path
          description: vorgang
          required: true
          type: string
        - name: X-Authentication
          in: header
          required: false
          type: string
        - name: X-TraceId
          in: header
          required: false
          type: string
      responses:
        "201":
          description: Created
        "202":
          description: Accepted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - OAuth2:
            - baufinanzierung:antrag:schreiben
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
  OAuth2:
    type: oauth2
    tokenUrl: https://api.europace.de/auth/access-token
    flow: application
    scopes:
      baufinanzierung:echtgeschaeft: Für das Lesen und Bearbeiten von Anträgen im Echtgeschäft benötigt
      baufinanzierung:antrag:lesen: Auslesen von Anträgen
      baufinanzierung:antrag:schreiben: "Ändern von Daten eines Antrags (bspw. Antragsstatus, Kreditsachbearbeiter)"
definitions:
  Absicherung:
    type: object
    properties:
      abgesicherteRisiken:
        type: array
        items:
          $ref: '#/definitions/RisikoAbsicherung'
      externeAngebotsNummer:
        type: string
      gesamtPraemie:
        type: number
      praemienZahlungsweise:
        type: string
        enum:
          - EINMALIG
          - HALBJAEHRLICH
          - JAEHRLICH
          - MONATLICH
          - VIERTELJAEHRLICH
      tarifBezeichnung:
        type: string
      tarifKennung:
        type: string
      versichertePersonId:
        type: string
      versicherungsArt:
        type: string
      versicherungsNummer:
        type: string
      versicherungsZeitraum:
        $ref: '#/definitions/VersicherungsZeitraum'
    title: Absicherung
  AbsicherungsAngaben:
    type: object
    properties:
      betraegtWoechentlicheArbeitsZeitMindestens15Stunden:
        type: boolean
    title: AbsicherungsAngaben
  AngebotZumAntrag:
    type: object
    properties:
      _links:
        $ref: '#/definitions/Links'
      absicherungen:
        type: array
        items:
          $ref: '#/definitions/Absicherung'
      bausparvertraege:
        type: array
        items:
          $ref: '#/definitions/Bausparvertrag'
      beleihungsRechnung:
        $ref: '#/definitions/BeleihungsRechnung'
      bewertungDesAngebots:
        type: string
        enum:
          - ANGEBOT_ENTSPRICHT_DEM_WUNSCH_DES_KUNDEN
          - ANGEBOT_ENTSPRICHT_DER_EMPFEHLUNG_DES_KUNDENBETREUERS
      bonitaet:
        type: array
        items:
          $ref: '#/definitions/Bonitaet'
      darlehen:
        type: array
        items:
          $ref: '#/definitions/Darlehen'
      erzeugtAm:
        type: string
        format: date-time
        description: Erzeugungsdatum des Angebots
      kennung:
        type: string
      machbarkeitsStatus:
        type: string
        enum:
          - MACHBAR
          - NICHT_MACHBAR
          - UNTER_VORBEHALT_PRODUZENT
      meldungen:
        type: array
        items:
          $ref: '#/definitions/Meldung'
      pruefungsErgebnisse:
        type: array
        description: Bewertungen seitens der Produktanbieter während der Angebotserstellung.
        items:
          $ref: '#/definitions/AngebotsPruefungsErgebnis'
    title: AngebotZumAntrag
  AngebotsPruefungsErgebnis:
    type: object
    properties:
      bewertung:
        $ref: '#/definitions/BewertungDurchProduktAnbieter'
      produktAnbieterId:
        type: string
    title: AngebotsPruefungsErgebnis
  AnnuitaetenDarlehen:
    title: AnnuitaetenDarlehen
    allOf:
      - $ref: '#/definitions/GegenangebotDarlehen'
      - type: object
        required:
          - anfaenglicheTilgung
          - bereitstellungsZinsFreieZeitInMonaten
          - darlehensBetrag
          - darlehensTyp
          - effektivZins
          - laufzeitKalkulatorischInJahren
          - rateMonatlich
          - sollZins
          - sonderTilgungJaehrlich
          - vertriebsProvisionGesamtAbsolut
          - zinsBindungInJahren
        discriminator: darlehensTyp
        properties:
          anfaenglicheTilgung:
            type: number
          bereitstellungsZins:
            type: number
          bereitstellungsZinsFreieZeitInMonaten:
            type: integer
            format: int32
          darlehensBetrag:
            type: number
          darlehensTyp:
            type: string
            enum:
              - ANNUITAETEN_DARLEHEN
              - FORWARD_DARLEHEN
              - KFW_DARLEHEN
              - PRIVAT_DARLEHEN
              - REGIONAL_FOERDER_DARLEHEN
              - VARIABLES_DARLEHEN
              - ZWISCHEN_FINANZIERUNG
          effektivZins:
            type: number
          laufzeitKalkulatorischInJahren:
            type: integer
            format: int32
          produktDetails:
            type: string
            description: Wird dem Vertrieb als Beschreibung zum Produkt angezeigt.
          rateMonatlich:
            type: number
          sollZins:
            type: number
          sonderTilgungJaehrlich:
            type: number
          tilgungsBeginnAm:
            type: string
            format: date-time
            example: 2020-03-28
          vertriebsProvisionGesamtAbsolut:
            type: number
            description: Enthält die Vertriebsprovision inkl. Overhead. Die Europace-Provision wird separat berechnet.
          zinsBindungInJahren:
            type: integer
            format: int32
        title: AnnuitaetenDarlehen
        description: Erweitert GegenangebotDarlehen
    description: Erweitert GegenangebotDarlehen
  Anschrift:
    type: object
    properties:
      hausnummer:
        type: string
      ort:
        type: string
      plz:
        type: string
      strasse:
        type: string
    title: Anschrift
  Antraege:
    type: object
    properties:
      _links:
        $ref: '#/definitions/PaginationLinks'
      antraege:
        type: array
        items:
          $ref: '#/definitions/Antrag'
    title: Antraege
  Antrag:
    type: object
    properties:
      _links:
        $ref: '#/definitions/Links'
      angebot:
        description: "Das angenommene Angebot, auf dem dieser Antrag basiert"
        $ref: '#/definitions/AngebotZumAntrag'
      ansprechpartner:
        description: "Für Rückfragen auf Seite des Vertriebs, kann mit dem Vermittler identisch sein"
        $ref: '#/definitions/Partner'
      antragsNummer:
        type: string
        description: Nummer des Antrags auf der Europace Plattform
      antragsReferenz:
        type: string
        description: Nummer des Antrags in deinem System (ändernbar)
      beratung:
        description: Informationen zum Geschäftsabschluss
        $ref: '#/definitions/Beratung'
      datenKontext:
        type: string
        description: "Gibt an, ob es sich um einen Antrag aus dem Testmodus oder Echtgeschäft handelt"
        enum:
          - ECHT_GESCHAEFT
          - TEST_MODUS
      dokumente:
        type: array
        description: "Enthält alle Plattformdokumente, freigegebene Dokumente des Vertriebs, sowie die hochgeladenen Dokumente des Produktanbieters."
        uniqueItems: true
        items:
          $ref: '#/definitions/Dokument'
      entscheidungsreifeVomVertriebSignalisiert:
        type: boolean
        description: "Hinweis des Vertriebs, dass der Antrag fertig zur Bearbeitung ist."
      kreditSachbearbeiter:
        description: Gewählter Sachbearbeiter aus Seite des Kreditvertriebs
        $ref: '#/definitions/Partner'
      letzteAenderung:
        type: string
        format: date-time
        description: Zeitpunkt der letzten Änderung des Antrags
      produktAnbieter:
        $ref: '#/definitions/ProduktAnbieter'
      prolongation:
        type: boolean
      status:
        description: Bearbeitungsfortschritt des Antrags
        $ref: '#/definitions/AntragsStatus'
      vermittler:
        description: Partner auf Seite des Vertriebs
        $ref: '#/definitions/Partner'
      voraussichtlicheBearbeitung:
        type: string
        format: date
        description: "Das Datum, zu dem der Antrag vorrausichtlich bearbeitet wird."
      vorgangsReferenz:
        type: string
        description: Nummer des Vorgangs im System des Vertriebs
      zeitpunktDerAnnahme:
        type: string
        format: date-time
        description: "Zeitpunkt, zu dem der Antrag im System erstellt wurde."
      zugrundeliegendeDaten:
        description: "Basisdaten des Kunden, die für die Berechnung des Angebots relevant waren"
        $ref: '#/definitions/ZugrundeliegendeDatenZumAntrag'
    title: Antrag
    description: Diese Resource repräsentiert einen Antrag in Baufi Smart.
  AntragsStatus:
    type: object
    properties:
      ablehnungsgrund:
        type: string
        description: Ablehnungsgrund des Produktanbieters
        enum:
          - FINANZIELLE_SITUATION
          - GEGENANGEBOT
          - KEINE_ANGABE
          - KRITERIEN
          - NEGATIV_MERKMAL
          - UNTERLAGEN_UNVOLLSTAENDIG
          - WERTERMITTLUNG
      antragsteller:
        type: string
        description: Willenserklärung des Antragstellers
        enum:
          - BEANTRAGT
          - NICHT_ANGENOMMEN
          - UNTERSCHRIEBEN
          - WIDERRUFEN
      bearbeitungsFortschritt:
        type: string
        description: Bearbeitungsfortschritt des Antrags nach beidseitiger Unterzeichnung
        enum:
          - FREIGEGEBEN_FUER_SAMMELFORDERUNG
          - NICHT_VON_PRODUKTANBIETER_BESTAETIGT
          - PROVISION_IN_BEARBEITUNG
          - PROVISON_AN_KUNDENBETREUER_VOLLSTAENDIG_AUSGEZAHLT
          - VON_PRODUKTANBIETER_BESTAETIGT
      produktAnbieter:
        type: string
        description: Willenserklärung des Produktanbieters
        enum:
          - ABGELEHNT
          - NICHT_BEARBEITET
          - UNTERSCHRIEBEN
          - ZURUECKGESTELLT
    title: AntragsStatus
  Antragsteller:
    type: object
    properties:
      absicherungsAngaben:
        $ref: '#/definitions/AbsicherungsAngaben'
      anrede:
        type: string
        enum:
          - FRAU
          - HERR
      anschrift:
        $ref: '#/definitions/Postadresse'
      arbeitserlaubnis:
        type: boolean
        description: wenn der Antragssteller die Staatsangehörigkeit eines Nicht-EU-Landes hat
      arbeitserlaubnisBefristetBis:
        type: string
        format: date
        description: wenn Arbeitserlaubnis befristet
      aufenthaltsTitel:
        type: string
        description: wenn der Antragssteller die Staatsangehörigkeit eines Nicht-EU-Landes hat
        enum:
          - AUFENTHALTS_ERLAUBNIS
          - DAUERAUFENTHALT_EU
          - NIEDERLASSUNGS_ERLAUBNIS
          - VISUM
      aufenthaltsTitelBefristetBis:
        type: string
        format: date
        description: wenn Aufenthaltstitel befristet
      berufsgruppeBeiIngDiba:
        type: string
        description: "Berufsgruppe des Antragstellers (ING) Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt.. Erlaubte Werte sind:  ANGESTELLTER, ARBEITER, BEAMTER, FREIBERUFLER, SELBSTSTAENDIG, RENTNER, HAUSMANN, PRIVATIER, SOLDAT, SCHUELER, AZUBI, STUDENT, OHNE. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
      beschaeftigung:
        $ref: '#/definitions/Beschaeftigung'
      beschaeftigungImOeffentlichenDienstBeiDsl:
        type: boolean
      branche:
        type: array
        description: "Branchen je Produktanbieter, in welcher der Antragsteller tätig ist. Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
        items:
          $ref: '#/definitions/Branche'
      brancheBeiIngDiba:
        type: string
        description: "Deprecated. Bitte das Feld 'branche' nutzen. Branche, in welcher der Antragsteller tätig ist. (ING) Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt.. Erlaubte Werte sind: BANKEN_VERSICHERUNGEN, BAUGEWERBE, DIENSTLEISTUNGEN_SONSTIGE, EDV_BERATUNG, ENERGIE, ERZIEHUNG_UNTERRICHT, GESUNDHEITSWESEN, HANDEL, HANDWERK, HOTEL_GASTRONOMIE, LANDWIRTSCHAFT, OEFFENTLICHER_DIENST, PRODUKTION_INDUSTRIE, VERKEHR. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
      brancheBeiMhb:
        type: string
        description: "Deprecated. Bitte das Feld 'branche' nutzen. Branche, in welcher der Antragsteller tätig ist. (MHB) Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt.. Erlaubte Werte sind: VERARBEITENDES_GEWERBE, BAU, HANDEL, VERKEHR_INFORMATION, DIENSTLEISTUNG, SONSTIGES. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
      brancheBeiSRating:
        type: string
        description: "Deprecated. Bitte das Feld 'branche' nutzen. Branche, in welcher der Antragsteller tätig ist. (Sparkassen) Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt.. Erlaubte Werte sind: BAUGEWERBE, DIENSTLEISTUNGEN, ENERGIE_UND_WASSERVERSORGUNG_BERGBAU, GEBIETSKOERPERSCHAFTEN_UND_SOZIALVERSICHERUNGEN, GESUNDHEITSWESEN, HANDEL, HOTEL_UND_GASTRONOMIE, KREDITINSTITUTE, LAND_UND_FORSTWIRTSCHAFT_FISCHEREI, OEFFENTLICHER_DIENST, ORGANISATIONEN_OHNE_ERWERBSZWECK_PRIVATE_HAUSHALTE, VERARBEITENDES_GEWERBE, VERKEHR_UND_NACHRICHTENUEBERMITTLUNG, VERSICHERUNGEN, SONSTIGE. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
      bruttoJahresEinkommenErwartet:
        type: number
      bruttoVorjahresEinkommen:
        type: number
      email:
        type: string
      externeAntragstellerId:
        type: string
      familienstand:
        type: string
        enum:
          - GESCHIEDEN
          - GETRENNT_LEBEND
          - LEBENSPARTNERSCHAFT
          - LEDIG
          - VERHEIRATET
          - VERWITWET
      geburtsdatum:
        type: string
        format: date
      geburtsort:
        type: string
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt. Relevant für Sparprodukte (Bausparkassen)."
      guetertrennungVereinbartWennVerheiratet:
        type: boolean
        description: nur wenn verheiratet
      id:
        type: string
      inDeutschlandSeit:
        type: string
        format: date
        description: wenn der Antragssteller die Staatsangehörigkeit eines Nicht-EU-Landes hat
      legitimationsDaten:
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
        $ref: '#/definitions/LegitimationsDaten'
      nachname:
        type: string
      schufaErgebnis:
        $ref: '#/definitions/SchufaErgebnis'
      sozialversicherungsnummer:
        type: string
      staatsangehoerigkeit:
        $ref: '#/definitions/Staat'
      steuerId:
        type: string
      telefonnummer:
        type: string
      telefonnummerVorwahl:
        type: string
      titelDoktor:
        type: boolean
      titelProfessor:
        type: boolean
      verheiratetMitAntragsteller:
        description: nur wenn verheiratet
        $ref: '#/definitions/AntragstellerVerknuepfung'
      vorAnschrift:
        $ref: '#/definitions/Postadresse'
      vorname:
        type: string
      weitereKontaktMoeglichkeiten:
        type: string
      wohnhaftSeit:
        type: string
        format: date
    title: Antragsteller
  AntragstellerVerknuepfung:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
        description: Redundantes Datum für bessere Menschenlesbarkeit / einfachere Zuordnung
    title: AntragstellerVerknuepfung
  AusgabenMonatlich:
    type: object
    properties:
      ausgabenMonatlich:
        type: number
      zahlungsTyp:
        type: string
        description: Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium
        enum:
          - AUSGABE
          - EINNAHME
    title: AusgabenMonatlich
  Autostellplatz:
    type: object
    properties:
      mieteinnahmenMonatlich:
        type: number
      typ:
        type: string
        enum:
          - CARPORT
          - DOPPEL_GARAGE
          - GARAGE
          - KELLER_GARAGE
          - STELLPLATZ
          - TIEFGARAGEN_STELLPLATZ
    title: Autostellplatz
  BankUndSparguthaben:
    type: object
    properties:
      aktuellerWert:
        type: number
      maximalAufzuloesenderWert:
        type: number
      vermoegensTyp:
        type: string
        description: Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium
        enum:
          - VERBINDLICHKEIT
          - VERMOEGEN
      zahlungsTyp:
        type: string
        description: Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium
        enum:
          - AUSGABE
          - EINNAHME
      zinsertragJaehrlich:
        type: number
    title: BankUndSparguthaben
  Bankverbindung:
    type: object
    properties:
      bic:
        type: string
      iban:
        type: string
      id:
        type: string
      kontoinhaberIds:
        type: array
        items:
          type: string
      kontoinhaberName:
        type: string
      kreditinstitut:
        type: string
    title: Bankverbindung
  BausparAngebot:
    type: object
    properties:
      abschlussGebuehr:
        type: number
      abschlussGebuehrenVerrechnung:
        type: string
        description: "Erlaubte Werte sind: SOFORTZAHLUNG, VERRECHNUNG"
        enum:
          - SOFORTZAHLUNG
          - VERRECHNUNG
      angebotsHinweisFuerAntragsteller:
        type: string
        description: nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten
      bausparSumme:
        type: number
      einmalzahlung:
        type: number
        description: Deprecated. Einmalzahlungen sind Teil der Sonderzahlungen.
      gesamtLaufzeitInJahren:
        type: integer
        format: int32
        description: nur bei neuen extern berechneten Bausparverträgen
      id:
        type: string
      produktAnbieter:
        $ref: '#/definitions/ProduktAnbieter'
      sonderZahlungen:
        type: array
        items:
          $ref: '#/definitions/SonderZahlung'
      sparBeginn:
        type: string
        format: date
      sparPhase:
        $ref: '#/definitions/SparPhase'
      tarif:
        type: string
      tilgungsPhase:
        $ref: '#/definitions/TilgungsPhase'
      typ:
        type: string
      vertragsBeginn:
        type: string
        format: date
      vertragsNummer:
        type: string
      vertragsPartner:
        type: array
        description: nur bei neuen extern berechneten Bausparverträgen
        items:
          $ref: '#/definitions/AntragstellerVerknuepfung'
      verwaltungsgebuehrenJaehrlich:
        type: number
      zuteilungsDatum:
        type: string
        format: date
    title: BausparAngebot
  Bausparvertrag:
    type: object
    properties:
      abschlussGebuehr:
        type: number
      abschlussGebuehrenVerrechnung:
        type: string
        description: "Erlaubte Werte sind: SOFORTZAHLUNG, VERRECHNUNG"
        enum:
          - SOFORTZAHLUNG
          - VERRECHNUNG
      angebotsHinweisFuerAntragsteller:
        type: string
        description: nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten
      bausparSumme:
        type: number
      einmalzahlung:
        type: number
        description: Deprecated. Einmalzahlungen sind Teil der Sonderzahlungen.
      gesamtLaufzeitInJahren:
        type: integer
        format: int32
        description: nur bei neuen extern berechneten Bausparverträgen
      id:
        type: string
      produktAnbieter:
        $ref: '#/definitions/ProduktAnbieter'
      sonderZahlungen:
        type: array
        items:
          $ref: '#/definitions/SonderZahlung'
      sparBeginn:
        type: string
        format: date
      sparPhase:
        $ref: '#/definitions/SparPhase'
      tarif:
        type: string
      tilgungsPhase:
        $ref: '#/definitions/TilgungsPhase'
      typ:
        type: string
      vertragsBeginn:
        type: string
        format: date
      vertragsNummer:
        type: string
      vertragsPartner:
        type: array
        description: "Liste von Antragstellern, die diesen Vertrag abschließen."
        items:
          $ref: '#/definitions/AntragstellerVerknuepfung'
      verwaltungsgebuehrenJaehrlich:
        type: number
      zuteilungsDatum:
        type: string
        format: date
    title: Bausparvertrag
  BeleihungsRechnung:
    type: object
    properties:
      beleihungsAuslauf:
        type: number
        description: Der Beleihungsauslauf aus Sicht des Produktanbieters. Berechnet sich aus dem Verhältnis anerkannter Darlehen zur Summe der anerkannten Beleihungswerte.
      beleihungsWerte:
        type: array
        description: Enthält die vom Produktanbieter anerkannten Beleihungswerte
        items:
          $ref: '#/definitions/BeleihungsWert'
      beleihungsWerteSumme:
        type: number
        description: "Berechnungshilfe: Die Summe aller vom Produktanbieter anerkannten Beleihungswerte"
      produktAnbieter:
        $ref: '#/definitions/ProduktAnbieter'
    title: BeleihungsRechnung
  BeleihungsWert:
    type: object
    properties:
      adresse:
        $ref: '#/definitions/Postadresse'
      beleihungsWert:
        type: number
      immobilie:
        $ref: '#/definitions/ImmobilieVerknuepfung'
    title: BeleihungsWert
  Beratung:
    type: object
    properties:
      art:
        type: string
        enum:
          - AUSSER_GESCHAEFTSRAUM_VERTRAG
          - FERN_ABSATZ_GESCHAEFT
          - PRAESENZ_GESCHAEFT
      hinweisFuerProduktAnbieter:
        type: string
      istKundenBetreuerVerkaeuferOderMaklerDerImmobilie:
        type: boolean
        description: "Mit diesem Wert wird ausgedrückt, ob der Kundenbetreuer auch der Immobilienmakler ist."
    title: Beratung
  Bereitstellung:
    type: object
    properties:
      bereitstellungsZins:
        type: number
      bereitstellungsZinsFreieZeitInMonaten:
        type: integer
        format: int32
    title: Bereitstellung
  Beschaeftigung:
    type: object
    properties:
      anzahlGehaelterProJahr:
        type: number
        format: double
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      arbeitgeber:
        type: string
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      arbeitgeberInDeutschlandAnsaessig:
        type: boolean
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      art:
        type: string
        description: "Erlaubte Werte sind: ANGESTELLTER, ARBEITER, ARBEITSLOSER, BEAMTER, FREIBERUFLER, HAUSFRAU, RENTNER, SELBSTAENDIGER"
      befristungsStatus:
        type: string
        description: "nur bei art==ANGESTELLTER,ARBEITER"
        enum:
          - BEFRISTET
          - UNBEFRISTET
      beruf:
        type: string
        description: nur bei art!=RENTNER
      beschaeftigtSeit:
        type: string
        format: date
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER,FREIBERUFLER,SELBSTAENDIGER"
      einkommenNettoJaehrlich:
        type: number
        description: "nur bei art==FREIBERUFLER,SELBSTAENDIGER"
      einkommenNettoMonatlich:
        type: number
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      inProbezeit:
        type: boolean
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      situationNachRenteneintritt:
        description: nur bei art!=RENTNER
        $ref: '#/definitions/SituationNachRenteneintritt'
      sonstigesRegelmaessigesEinkommenNettoMonatlich:
        type: number
        description: "nur bei art==ARBEITSLOSER,HAUSFRAU"
      staatlicheRenteNettoMonatlich:
        type: number
        description: nur bei art==RENTNER
      taetigkeit:
        type: string
        description: "nur bei art==FREIBERUFLER,SELBSTAENDIGER. Erlaubte Werte sind:   ALTENPFLEGER, AMBULANTER_KRANKENPFLEGER, ANWALT, APOTHEKER, ARCHITEKT, ARZT, BESTATTER, DATENSCHUTZBEAUFTRAGTER, DEKORATEUR, DIAETASSISTENT, DOLMETSCHER, EDV_BERATER, ERGOTHERAPEUT, ERNAEHRUNGSBERATER, FOTOGRAF, GEOGRAF, GRAFIKDESIGNER, GRAFIKER, HEBAMME, HEILMASSEUR, HEILPRAKTIKER, HISTORIKER, INFORMATIKER, INGENIEUR, INSOLVENZVERWALTER, JOURNALIST, KLASSISCHER_KONZERTMUSIKER, KONSTRUKTEUR, KRANKENGYMNAST, KRANKENPFLEGER, KRANKENSCHWESTER, LOGOPAEDE, MEDIZINISCH_TECHN_ASSISTENT, NOTAR, OPERNSAENGER, PERSONALBERATER, PHYSIOTHERAPEUT, PSYCHOLOGE, RAUMAUSSTATTER, RUNDFUNKSPRECHER, SACHVERSTAENDIGER, STADTPLANER, STATIKER, STEUERBERATER, TIERARZT, UNTERNEHMENSBERATER, VERMITTLER, WIRTSCH_BUCHPRUEFER_REVISOR, ZAHNARZT, ZAHNTECHNIKER, SONSTIGES."
    title: Beschaeftigung
  BestehendeImmobilie:
    type: object
    properties:
      adresse:
        $ref: '#/definitions/Postadresse'
      autostellplaetze:
        type: array
        items:
          $ref: '#/definitions/Autostellplatz'
      bestehendeDarlehen:
        type: array
        items:
          $ref: '#/definitions/BestehendesDarlehen'
      bodenRichtwert:
        type: number
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      erbbaurecht:
        $ref: '#/definitions/Erbbaurecht'
      gebaeude:
        $ref: '#/definitions/Gebaeude'
      grundbuchAngabe:
        $ref: '#/definitions/GrundbuchAngabe'
      grundstueck:
        $ref: '#/definitions/Grundstueck'
      id:
        type: string
      immobilienEinsatz:
        type: string
        enum:
          - ALS_ZUSATZSICHERHEIT
          - KEIN_EINSATZ
          - VERKAUFEN
      keinBaulandFlaecheInQm:
        type: number
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      marktueblicherKaufpreisProQm:
        type: number
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      maximalEinzusetzenderBetragWennVerkauf:
        type: number
      objektArt:
        type: string
        enum:
          - EIGENTUMSWOHNUNG
          - GRUNDSTUECK
          - HAUS
      vergleichsmieteFuerGewerbeflaecheProQm:
        type: number
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      vergleichsmieteFuerWohnflaecheProQm:
        type: number
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      verkehrswert:
        type: number
      vorlaeufigerVerkehrswert:
        type: number
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      wohnlage:
        type: string
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt.. Erlaubte Werte sind: GEHOBEN,MITTEL,EINFACH. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
    title: BestehendeImmobilie
  BestehenderBausparvertrag:
    type: object
    properties:
      abschlussGebuehr:
        type: number
      aktuellerWert:
        type: number
      bausparSumme:
        type: number
      einmalzahlung:
        type: number
        description: Deprecated. Einmalzahlungen sind Teil der Sonderzahlungen.
      id:
        type: string
      maximalAufzuloesenderBetrag:
        type: number
      produktAnbieter:
        $ref: '#/definitions/ProduktAnbieter'
      sonderZahlungen:
        type: array
        items:
          $ref: '#/definitions/SonderZahlung'
      sparBeitragMonatlich:
        type: number
      tarif:
        type: string
      typ:
        type: string
      vermoegensEinsatz:
        type: string
        enum:
          - ABTRETEN
          - AUFLOESEN
          - KEIN_EINSATZ
      vermoegensTyp:
        type: string
        description: Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium
        enum:
          - VERBINDLICHKEIT
          - VERMOEGEN
      vertragsBeginn:
        type: string
        format: date
      vertragsNummer:
        type: string
      verwaltungsgebuehrenJaehrlich:
        type: number
      zahlungsTyp:
        type: string
        description: Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium
        enum:
          - AUSGABE
          - EINNAHME
      zuteilungsDatum:
        type: string
        format: date
    title: BestehenderBausparvertrag
  BestehendesDarlehen:
    type: object
    properties:
      abzuloesendeRestschuld:
        type: number
        description: Deprecated.
      aktuelleRestschuldWennNichtAbzuloesen:
        type: number
        description: Deprecated. nur wenn wirdAbgeloest==true
      bausteinId:
        type: string
      darlehensArt:
        type: string
        description: "Erlaubte Werte sind: BAUSPARDARLEHEN,FOERDERDARLEHEN,IMMOBILIENDARLEHEN,PRIVATDARLEHEN,SONSTIGES_DARLEHEN. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
        enum:
          - BAUSPARDARLEHEN
          - FOERDERDARLEHEN
          - IMMOBILIENDARLEHEN
          - PRIVATDARLEHEN
          - SONSTIGES_DARLEHEN
      darlehensBetrag:
        type: number
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      darlehensGeber:
        $ref: '#/definitions/ProduktAnbieter'
      darlehensKontonummer:
        type: string
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      eingetrageneGrundschuld:
        type: number
      grundschuldArt:
        type: string
        description: "Erlaubte Werte sind: BUCH_GRUNDSCHULD, BRIEF_GRUNDSCHULD. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
        enum:
          - BRIEF_GRUNDSCHULD
          - BUCH_GRUNDSCHULD
      hauptKontonummerDslBank:
        type: string
        description: "für DSL Bank Prolongation, d.h. technisch: Produktanbieter ist 'DSL Bank' und Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      id:
        type: string
      laufzeitEnde:
        type: string
        format: date
      rateMonatlich:
        type: number
      restschuldAktuell:
        type: number
        description: Die aktuelle Restschuld bezüglich des Darlehens.
      restschuldZumAbloeseTermin:
        type: number
        description: Die kalkulatorische Restschuld zum Ende der Zinsbindung.
      sollZins:
        type: number
      sondertilgungZumZinsBindungsEnde:
        type: number
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      wirdAbgeloest:
        type: boolean
        description: "true, wenn Darlehen abgelöst wird, ansonsten false"
      zinsBindungEndetAm:
        type: string
        format: date
    title: BestehendesDarlehen
  BestehendesDarlehenDesFinanzierungsObjekts:
    type: object
    properties:
      abzuloesendeRestschuld:
        type: number
        description: Deprecated.
      aktuelleRestschuldWennNichtAbzuloesen:
        type: number
        description: Deprecated. nur wenn wirdAbgeloest==true
      bausteinId:
        type: string
      darlehensArt:
        type: string
        description: "Erlaubte Werte sind: BAUSPARDARLEHEN,FOERDERDARLEHEN,IMMOBILIENDARLEHEN,PRIVATDARLEHEN,SONSTIGES_DARLEHEN. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
        enum:
          - BAUSPARDARLEHEN
          - FOERDERDARLEHEN
          - IMMOBILIENDARLEHEN
          - PRIVATDARLEHEN
          - SONSTIGES_DARLEHEN
      darlehensBetrag:
        type: number
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      darlehensGeber:
        $ref: '#/definitions/ProduktAnbieter'
      darlehensKontonummer:
        type: string
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      eingetrageneGrundschuld:
        type: number
      grundschuldArt:
        type: string
        description: "Erlaubte Werte sind: BUCH_GRUNDSCHULD, BRIEF_GRUNDSCHULD. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
        enum:
          - BRIEF_GRUNDSCHULD
          - BUCH_GRUNDSCHULD
      hauptKontonummerDslBank:
        type: string
        description: "für DSL Bank Prolongation, d.h. technisch: Produktanbieter ist 'DSL Bank' und Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      id:
        type: string
      laufzeitEnde:
        type: string
        format: date
      rateMonatlich:
        type: number
      restschuldAktuell:
        type: number
        description: Die aktuelle Restschuld bezüglich des Darlehens.
      restschuldZumAbloeseTermin:
        type: number
        description: Die kalkulatorische Restschuld zum Ende der Zinsbindung.
      sollZins:
        type: number
      sondertilgungZumZinsBindungsEnde:
        type: number
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      verwendenAls:
        type: string
        description: "Beschreibt wie das Darlehen im Zusammenhang mit dem Vorhaben, behandelt werden soll."
        enum:
          - ABLOESEN
          - TRITT_IM_RANG_ZURUECK
          - TRITT_NICHT_IM_RANG_ZURUECK
      wirdAbgeloest:
        type: boolean
        description: "true, wenn Darlehen abgelöst wird, ansonsten false"
      zinsBindungEndetAm:
        type: string
        format: date
    title: BestehendesDarlehenDesFinanzierungsObjekts
  BewertungDurchProduktAnbieter:
    type: object
    properties:
      id:
        type: string
        description: nur bei produktAnbieterId==DEUTSCHE_BANK
    title: BewertungDurchProduktAnbieter
  Bonitaet:
    type: object
    properties:
      angerechneteLebensHaltungsKosten:
        type: number
      angerechneteRatenAllerFinanzierungsDarlehen:
        type: number
      bewirtschaftungsKostenAllerFremdgenutzerFlaechen:
        type: number
      haushaltsUeberschuss:
        type: number
      kreditEntscheider:
        $ref: '#/definitions/ProduktAnbieter'
      nebenkostenAllerEigengenutzterWohnflaechen:
        type: number
      produktAnbieter:
        $ref: '#/definitions/ProduktAnbieter'
    title: Bonitaet
  Branche:
    type: object
    properties:
      typ:
        type: string
        enum:
          - ING
          - MHB
          - S_RATING
      wert:
        type: string
        description: "Kann je nach Typ folgende Ausprägungen besitzen.\n\nFür Ausprägung ING erlaubte Werte: BANKEN_VERSICHERUNGEN, BAUGEWERBE, DIENSTLEISTUNGEN_SONSTIGE, EDV_BERATUNG, ENERGIE, ERZIEHUNG_UNTERRICHT, GESUNDHEITSWESEN, HANDEL, HANDWERK, HOTEL_GASTRONOMIE, LANDWIRTSCHAFT, OEFFENTLICHER_DIENST, PRODUKTION_INDUSTRIE, VERKEHR\n\nFür Ausprägung MHB erlaubte Werte: VERARBEITENDES_GEWERBE, BAU, HANDEL, VERKEHR_INFORMATION, DIENSTLEISTUNG, SONSTIGES\n\nFür Ausprägung S_RATING erlaubte Werte: BAUGEWERBE, DIENSTLEISTUNGEN, ENERGIE_UND_WASSERVERSORGUNG_BERGBAU, GEBIETSKOERPERSCHAFTEN_UND_SOZIALVERSICHERUNGEN, GESUNDHEITSWESEN, HANDEL, HOTEL_UND_GASTRONOMIE, KREDITINSTITUTE, LAND_UND_FORSTWIRTSCHAFT_FISCHEREI, OEFFENTLICHER_DIENST, ORGANISATIONEN_OHNE_ERWERBSZWECK_PRIVATE_HAUSHALTE, VERARBEITENDES_GEWERBE, VERKEHR_UND_NACHRICHTENUEBERMITTLUNG, VERSICHERUNGEN, SONSTIGE"
    title: Branche
  Darlehen:
    type: object
    properties:
      auszahlungsBetrag:
        type: number
      auszahlungsDatum:
        type: string
        format: date
        description: "Datum, an dem das Darlehen dem Kunden ausgezahlt werden soll. Entweder berechnet oder vom Kunden angegeben."
      auszahlungsKurs:
        type: number
      bausteinId:
        type: string
      bereitstellung:
        description: nicht bei darlehensTyp==PRIVAT_DARLEHEN
        $ref: '#/definitions/Bereitstellung'
      darlehensBetrag:
        type: number
      darlehensTyp:
        type: string
        enum:
          - ANNUITAETEN_DARLEHEN
          - FORWARD_DARLEHEN
          - KFW_DARLEHEN
          - PRIVAT_DARLEHEN
          - REGIONAL_FOERDER_DARLEHEN
          - VARIABLES_DARLEHEN
          - ZWISCHEN_FINANZIERUNG
      detailsZurVerwendung:
        type: string
        description: nur bei darlehensTyp==ZWISCHEN_FINANZIERUNG
      effektivZins:
        type: number
      effektivZinsRelevanteKosten:
        $ref: '#/definitions/EffektivZinsKosten'
      einstandsDatum:
        type: string
        format: date-time
        description: Datum des Konditionseinstand
      forwardPeriodeInMonaten:
        type: integer
        format: int32
        description: nur bei darlehensTyp==FORWARD_DARLEHEN
      kalkulatorischesLaufzeitEnde:
        type: string
        format: date
        description: bei allen Darlehenstypen außer darlehensTyp==ZWISCHEN_FINANZIERUNG
      kfwEnergieEffizienzStandard:
        type: string
        description: "nur bei darlehensTyp==KFW_DARLEHEN. Mögliche Werte: STANDARD_40_PLUS, STANDARD_40, STANDARD_55,STANDARD_70. Nur bei KfW-Programm 153 relevant. Bei neuen Energieeffizienzstandards können auch weitere Werte zulässig werden."
      kfwProgramm:
        type: string
        description: "nur bei darlehensTyp==KFW_DARLEHEN. Mögliche Werte: PROGRAMM_124, PROGRAMM_141, PROGRAMM_151, PROGRAMM_152, PROGRAMM_153, PROGRAMM_155, PROGRAMM_159, PROGRAMM_167. Bei neu aufgelegten KfW-Programmen können auch weitere Werte zulässig werden."
      konditionWurdeManuellAngepasst:
        type: boolean
        description: "true, wenn die Kondition manuell durch den Berater angepasst wurde (d.h. entweder Soll- oder Effektivzins des Darlehens, je nachdem welche Anpassung durch den Produktanbieter erlaubt ist)."
      konditionsAnpassungsBegruendung:
        type: string
        description: "Begründung, wenn die Kondition angepasst wurde"
      konditionsAnpassungsDelta:
        type: number
        example: -0.25
        description: "Wenn die Kondition manuell angepasst wurde: Delta in Prozentpunkten, um das die Kondition angepasst wurde (Differenz aus angepasster und ursprünglich berechneter Kondition, z.B. angepasst 1,25% - ursprünglich 1,50% = Delta von -0,25%)."
      laufZeitInJahren:
        type: integer
        format: int32
        description: nur bei darlehensTyp==KFW_DARLEHEN oder darlehensTyp==REGIONAL_FOERDER_DARLEHEN
      laufzeitInMonaten:
        type: integer
        format: int32
        description: nur bei darlehensTyp==PRIVAT_DARLEHEN
      maximaleLaufzeitInMonaten:
        type: integer
        format: int32
        description: nur bei darlehensTyp==ZWISCHEN_FINANZIERUNG
      produktAnbieter:
        $ref: '#/definitions/ProduktAnbieter'
      provision:
        $ref: '#/definitions/Provision'
      rateMonatlich:
        type: number
        example: 123.34
        description: Die monatliche Rate in Euro
      rateMonatlichInDerTilgungsfreienAnlaufzeit:
        type: number
        description: nur bei darlehensTyp==KFW_DARLEHEN oder darlehensTyp==REGIONAL_FOERDER_DARLEHEN
      regionalFoerderbankProgramm:
        type: string
        description: "nur bei darlehensTyp==REGIONAL_FOERDER_DARLEHEN. Mögliche Werte: L_BANK_KOMBI_DARLEHEN_WOHNEN, L_BANK_WOHNEN_MIT_KIND, L_BANK_WOHNEN_MIT_ZUKUNFT, NRW_BANK_WOHNEIGENTUM. Bei neu aufgelegten Programmen bzw. Aufnahme weiterer regionaler Förderbanken in die Plattform können weitere Werte zulässig werden."
      sollZins:
        type: number
        example: 2.05
        description: Der Sollzinssatz in Prozent
      tilgung:
        description: nicht bei darlehensTyp==ZWISCHEN_FINANZIERUNG
        $ref: '#/definitions/Tilgung'
      tilgungsFreieAnlaufJahre:
        type: integer
        format: int32
        description: nur bei darlehensTyp==KFW_DARLEHEN oder darlehensTyp==REGIONAL_FOERDER_DARLEHEN
      verwendungsZweck:
        type: string
        description: nur bei darlehensTyp==ZWISCHEN_FINANZIERUNG
        enum:
          - SONSTIGE_VERWENDUNG
          - VERKAUF_EINES_ANDEREN_OBJEKTS
          - VORFINANZIERUNG_OEFFENTLICHER_MITTEL
      zinsBindung:
        description: "nicht bei darlehensTyp IN [VARIABLES_DARLEHEN,ZWISCHEN_FINANZIERUNG]"
        $ref: '#/definitions/ZinsBindung'
      zinsZahlungsBeginnAm:
        type: string
        format: date
        description: "Die Zinszahlung beginnt zum Abruf des Darlehensbetrages, spätestens jedoch nach Ablauf der zinsfreien Zeit. 'zinsZahlungsBeginnAm' liefert das Datum des spätensten Zinszahlungsbeginn."
    title: Darlehen
  Dokument:
    type: object
    properties:
      art:
        type: string
        description: ist nicht immer vorhanden
      href:
        type: string
      name:
        type: string
        description: Originaler Dateiname mit Präfix
      titel:
        type: string
        description: Name des Dokuments
      type:
        type: string
        description: "Mediatype des Dokuments, siehe <a href=\"http://tools.ietf.org/html/rfc7231#section-3.1.1.1\">HTTP 1.1: Semantics and Content, section 3.1.1.1</a>"
    title: Dokument
  EffektivZinsKosten:
    type: object
    properties:
      beratungsHonorar:
        type: number
      grundbuchKosten:
        type: number
      laufendeVerwaltungskostenJaehrlich:
        type: number
      sonstigeKosten:
        type: number
      tilgungsErsatzProduktKosten:
        type: number
      wohnGebaeudeVersicherungsKosten:
        type: number
      zinsabsicherungsKosten:
        type: number
      zusatzSicherheitsKosten:
        type: number
    title: EffektivZinsKosten
  EinkuenfteAusNebentaetigkeit:
    type: object
    properties:
      beginnDerNebentaetigkeit:
        type: string
        format: date
      einnahmenMonatlich:
        type: number
      zahlungsTyp:
        type: string
        description: Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium
        enum:
          - AUSGABE
          - EINNAHME
    title: EinkuenfteAusNebentaetigkeit
  EinnahmenMonatlich:
    type: object
    properties:
      einnahmenMonatlich:
        type: number
      zahlungsTyp:
        type: string
        description: Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium
        enum:
          - AUSGABE
          - EINNAHME
    title: EinnahmenMonatlich
  Eintrag:
    type: object
    properties:
      abgeltungssteuer:
        type: number
      datum:
        type: string
        format: date
      kontofuehrungsGebuehr:
        type: number
      laufendeGebuehr:
        type: number
      riesterZulage:
        type: number
      saldo:
        type: number
      tilgung:
        type: number
      typ:
        type: string
        enum:
          - AGGREGIERTER_EINTRAG
          - EINTRAG
          - SUMMEN_EINTRAG_ZUM_ZINSBINDUNGSENDE
      zahlung:
        type: number
      zahlungsTyp:
        type: string
        enum:
          - AUSZAHLUNG
          - EINZAHLUNG
      zinsen:
        type: number
    title: Eintrag
  Erbbaurecht:
    type: object
    properties:
      erbbauzinsJaehrlich:
        type: number
      grundstuecksEigentuemer:
        type: string
        enum:
          - ANDERE
          - OEFFENTLICH_KIRCHLICH
      laufzeitBisJahr:
        type: string
        example: "2016"
        description: Vierstellige Jahresangabe
    title: Erbbaurecht
  Error:
    type: object
    properties:
      message:
        type: string
      statusCode:
        type: integer
        format: int32
      statusMessage:
        type: string
      traceId:
        type: string
    title: Error
  Finanzbedarf:
    type: object
    properties:
      aussenAnlagen:
        type: number
      bauNebenkosten:
        type: number
      bereitsBeglichen:
        type: number
      erschliessung:
        type: number
      grunderwerbsteuer:
        type: number
        description: Nebenkosten
      grundstueckBereitsBezahlt:
        type: boolean
        description: "'null' wenn nicht 'Neubau', anderenfalls: true -> bereits bezahlt, false - noch nicht bezahlt"
      grundstuecksKaufpreis:
        type: number
      herstellung:
        type: number
        description: inklusive Eigenleistungen
      kapitalBeschaffung:
        type: number
      kaufpreis:
        type: number
        description: inklusive Eigenleistungen
      maklergebuehr:
        type: number
        description: Nebenkosten
      mobiliar:
        type: number
      modernisierung:
        type: number
        description: inklusive Eigenleistungen
      notargebuehr:
        type: number
        description: Nebenkosten
      renovierung:
        type: number
      sonstigeKosten:
        type: number
      zusaetzlichesKapital:
        type: number
    title: Finanzbedarf
  FinanzierungsObjekt:
    type: object
    properties:
      adresse:
        $ref: '#/definitions/Postadresse'
      autostellplaetze:
        type: array
        items:
          $ref: '#/definitions/Autostellplatz'
      bestehendeDarlehen:
        type: array
        items:
          $ref: '#/definitions/BestehendesDarlehenDesFinanzierungsObjekts'
      bodenRichtwert:
        type: number
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      erbbaurecht:
        $ref: '#/definitions/Erbbaurecht'
      gebaeude:
        $ref: '#/definitions/Gebaeude'
      grundbuchAngabe:
        $ref: '#/definitions/GrundbuchAngabe'
      grundstueck:
        $ref: '#/definitions/Grundstueck'
      id:
        type: string
      keinBaulandFlaecheInQm:
        type: number
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      marktueblicherKaufpreisProQm:
        type: number
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      objektArt:
        type: string
        enum:
          - EIGENTUMSWOHNUNG
          - GRUNDSTUECK
          - HAUS
      vergleichsmieteFuerGewerbeflaecheProQm:
        type: number
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      vergleichsmieteFuerWohnflaecheProQm:
        type: number
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      verkehrswert:
        type: number
        description: "Nur relevant bei Finanzbedarf AnschlussFinanzierung, Modernisierung und Kapitalbeschaffung"
      vorlaeufigerVerkehrswert:
        type: number
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      wohnlage:
        type: string
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt.. Erlaubte Werte sind: GEHOBEN,MITTEL,EINFACH. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
    title: FinanzierungsObjekt
  Flurstueck:
    type: object
    properties:
      anteil:
        $ref: '#/definitions/MiteigentumsAnteil'
      flur:
        type: string
      flurstuecksNummer:
        type: string
      groesse:
        type: number
    title: Flurstueck
  ForwardDarlehen:
    title: ForwardDarlehen
    allOf:
      - $ref: '#/definitions/GegenangebotDarlehen'
      - type: object
        required:
          - anfaenglicheTilgung
          - bereitstellungsZinsFreieZeitInMonaten
          - darlehensBetrag
          - darlehensTyp
          - effektivZins
          - forwardPeriodeInMonaten
          - laufzeitKalkulatorischInJahren
          - rateMonatlich
          - sollZins
          - sonderTilgungJaehrlich
          - vertriebsProvisionGesamtAbsolut
          - zinsBindungInJahren
        discriminator: darlehensTyp
        properties:
          anfaenglicheTilgung:
            type: number
          bereitstellungsZins:
            type: number
          bereitstellungsZinsFreieZeitInMonaten:
            type: integer
            format: int32
          darlehensBetrag:
            type: number
          darlehensTyp:
            type: string
            enum:
              - ANNUITAETEN_DARLEHEN
              - FORWARD_DARLEHEN
              - KFW_DARLEHEN
              - PRIVAT_DARLEHEN
              - REGIONAL_FOERDER_DARLEHEN
              - VARIABLES_DARLEHEN
              - ZWISCHEN_FINANZIERUNG
          effektivZins:
            type: number
          forwardPeriodeInMonaten:
            type: integer
            format: int32
          laufzeitKalkulatorischInJahren:
            type: integer
            format: int32
          produktDetails:
            type: string
            description: Wird dem Vertrieb als Beschreibung zum Produkt angezeigt.
          rateMonatlich:
            type: number
          sollZins:
            type: number
          sonderTilgungJaehrlich:
            type: number
          tilgungsBeginnAm:
            type: string
            format: date-time
            example: 2020-03-28
          vertriebsProvisionGesamtAbsolut:
            type: number
            description: Enthält die Vertriebsprovision inkl. Overhead. Die Europace-Provision wird separat berechnet.
          zinsBindungInJahren:
            type: integer
            format: int32
        title: ForwardDarlehen
        description: Erweitert GegenangebotDarlehen
    description: Erweitert GegenangebotDarlehen
  Gebaeude:
    type: object
    properties:
      anzahlDerGewerbeeinheiten:
        type: integer
        format: int32
        description: Nur bei ObjektArt == HAUS.
      anzahlDerWohneinheitenImGebaeude:
        type: integer
        format: int32
      anzahlVollgeschosse:
        type: integer
        format: int32
      ausstattung:
        type: string
        description: "Angaben zur Ausstattung für alle verschiedene Produktanbieter und für die  für die automatische Objektbewertungs-Schnittstelle (VDP), aber nicht für ING. Erlaubte Werte sind: EINFACH,MITTEL,GEHOBEN,STARK_GEHOBEN. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
      baujahr:
        type: string
        example: "2016"
        description: Baujahr des Gebäudes. Bei verwendungsZweck != NEUBAUVierstellige Jahresangabe
      bauweise:
        type: string
        description: "Erlaubte Werte sind: FACHWERK_MIT_STROH_LEHM,FACHWERK_MIT_ZIEGELN,GLAS_STAHL,HOLZ,MASSIV. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
      bezeichnungWohneinheit:
        type: string
        description: Nur bei ObjektArt == EIGENTUMSWOHNUNG.
      dachgeschossAusbau:
        type: string
        description: "Nur bei ObjektArt == HAUS. Erlaubte Werte sind: FLACHDACH,NICHT_AUSGEBAUT,TEILWEISE_AUSGEBAUT,VOLL_AUSGEBAUT. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
      einliegerwohnungVorhanden:
        type: boolean
        description: Nur bei ObjektArt == HAUS.
      gewerbeflaeche:
        $ref: '#/definitions/GebaeudeFlaeche'
      hausAnordnung:
        type: string
        enum:
          - FREISTEHEND
          - KOPFHAUS
          - MITTELHAUS
      hausTyp:
        type: string
        description: Nur bei ObjektArt == HAUS.
        enum:
          - DOPPELHAUSHAELFTE
          - EINFAMILIENHAUS
          - MEHRFAMILIENHAUS
          - REIHENHAUS
          - ZWEIFAMILIENHAUS
      istFertighaus:
        type: boolean
        description: Nur bei ObjektArt == HAUS.
      kubatur:
        type: number
        description: "Angabe in Kubikmetern. Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      miteigentumsAnteil:
        description: Nur bei ObjektArt == EIGENTUMSWOHNUNG.
        $ref: '#/definitions/MiteigentumsAnteil'
      modernisierungen:
        type: array
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
        items:
          $ref: '#/definitions/Modernisierung'
      modernisierungsAngaben:
        description: Deprecated. Zukünftig wird die Liste Modernisierungen verwendet.
        $ref: '#/definitions/ModernisierungsAngaben'
      unterkellerung:
        type: string
        description: "Nur bei ObjektArt == HAUS. Erlaubte Werte sind: NICHT_UNTERKELLERT,TEILWEISE_UNTERKELLERT,UNTERKELLERT. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
      wohnflaeche:
        $ref: '#/definitions/GebaeudeFlaeche'
      zustand:
        type: string
        description: Angaben zum Zustand der Immobilie für die automatische Objektbewertungs-Schnittstelle (VDP)
        enum:
          - GUT
          - MAESSIG
          - MITTEL
          - SCHLECHT
          - SEHR_GUT
    title: Gebaeude
  GebaeudeFlaeche:
    type: object
    properties:
      gesamtGroesse:
        type: number
      vermietungsInformationen:
        $ref: '#/definitions/VermietungsInformationen'
    title: GebaeudeFlaeche
  Gegenangebot:
    type: object
    required:
      - darlehen
    properties:
      darlehen:
        type: array
        items:
          $ref: '#/definitions/GegenangebotDarlehen'
      kennung:
        type: string
        description: Anmerkung des Angebots in der Ergebnisliste - sichtbar für den Vertrieb.
    title: Gegenangebot
  GegenangebotDarlehen:
    type: object
    required:
      - anfaenglicheTilgung
      - darlehensBetrag
      - darlehensTyp
      - effektivZins
      - rateMonatlich
      - sollZins
      - vertriebsProvisionGesamtAbsolut
    discriminator: darlehensTyp
    properties:
      anfaenglicheTilgung:
        type: number
      darlehensBetrag:
        type: number
      darlehensTyp:
        type: string
        enum:
          - ANNUITAETEN_DARLEHEN
          - FORWARD_DARLEHEN
          - KFW_DARLEHEN
          - PRIVAT_DARLEHEN
          - REGIONAL_FOERDER_DARLEHEN
          - VARIABLES_DARLEHEN
          - ZWISCHEN_FINANZIERUNG
      effektivZins:
        type: number
      produktDetails:
        type: string
        description: Wird dem Vertrieb als Beschreibung zum Produkt angezeigt.
      rateMonatlich:
        type: number
      sollZins:
        type: number
      vertriebsProvisionGesamtAbsolut:
        type: number
        description: Enthält die Vertriebsprovision inkl. Overhead. Die Europace-Provision wird separat berechnet.
    title: GegenangebotDarlehen
    x-discriminator-is-enum: true
  GrundbuchAngabe:
    type: object
    properties:
      amtsgericht:
        type: string
        description: Zuständiges Amtsgericht
      anmerkungen:
        type: string
      bandUndBlatt:
        type: string
        description: Angabe von Band und Blatt
      flurstuecke:
        type: array
        items:
          $ref: '#/definitions/Flurstueck'
      ort:
        type: string
        description: Ort des als Grundbuchamt zuständigen Amtsgerichtes
      rechteInAbteilung2:
        description: "Belastungen und Beschränkungen in der Nutzbarkeit des Grundstücks. Leitungsrechte, Verzichte auf Abstandsflächen, Wegerechte, Insolvenzvermerke."
        $ref: '#/definitions/RechteAbteilung2'
    title: GrundbuchAngabe
  Grundstueck:
    type: object
    properties:
      groesse:
        type: number
      grundstuecksArt:
        type: string
        enum:
          - LANDWIRTSCHAFTLICHES_GRUNDSTUECK
          - SONSTIGES_GRUNDSTUECK
          - UNBEBAUTES_GEWERBEGRUNDSTUECK
          - UNBEBAUTES_MISCHGRUNDSTUECK
          - UNBEBAUTES_WOHNGRUNDSTUECK
    title: Grundstueck
  Haushalt:
    type: object
    properties:
      antragsteller:
        type: array
        items:
          $ref: '#/definitions/Antragsteller'
      anzahlErwachseneImHaushalt:
        type: integer
        format: int32
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      anzahlKinderNichtImHaushalt:
        type: integer
        format: int32
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      bestehendeImmobilien:
        type: array
        items:
          $ref: '#/definitions/BestehendeImmobilie'
      id:
        type: string
      kfzAnzahl:
        type: integer
        format: int32
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      kinder:
        type: array
        items:
          $ref: '#/definitions/Kind'
      lebenshaltungsKostenMonatlich:
        type: number
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt. (DSL Bank)"
      obligo:
        $ref: '#/definitions/VermoegenVerbindlichkeiten'
      positionen:
        $ref: '#/definitions/HaushaltsPositionen'
    title: Haushalt
  HaushaltsPositionen:
    type: object
    properties:
      bankUndSparguthaben:
        type: array
        items:
          $ref: '#/definitions/BankUndSparguthaben'
      bausparvertraege:
        type: array
        items:
          $ref: '#/definitions/BestehenderBausparvertrag'
      ehegattenUnterhalt:
        type: array
        items:
          $ref: '#/definitions/EinnahmenMonatlich'
      einkuenfteAusNebentaetigkeit:
        type: array
        items:
          $ref: '#/definitions/EinkuenfteAusNebentaetigkeit'
      kindergeld:
        type: array
        description: Read-Only-Feld. Wird dynamisch aus den Angaben zu den Kindern berechnet. Pro kindergelderhaltendem Kind ein Listenelement.
        items:
          $ref: '#/definitions/EinnahmenMonatlich'
      lebensUndRentenVersicherungen:
        type: array
        items:
          $ref: '#/definitions/LebensOderRentenversicherungVermoegen'
      mietAusgaben:
        type: array
        items:
          $ref: '#/definitions/MietAusgaben'
      privateDarlehen:
        type: array
        items:
          $ref: '#/definitions/Verbindlichkeit'
      privateKrankenversicherung:
        type: array
        items:
          $ref: '#/definitions/AusgabenMonatlich'
      ratenkredite:
        type: array
        items:
          $ref: '#/definitions/Verbindlichkeit'
      sonstigeAusgaben:
        type: array
        items:
          $ref: '#/definitions/AusgabenMonatlich'
      sonstigeEinnahmen:
        type: array
        items:
          $ref: '#/definitions/EinnahmenMonatlich'
      sonstigeVerbindlichkeiten:
        type: array
        items:
          $ref: '#/definitions/Verbindlichkeit'
      sonstigeVermoegen:
        type: array
        items:
          $ref: '#/definitions/Vermoegen'
      sparplaene:
        type: array
        items:
          $ref: '#/definitions/Sparplaene'
      unbefristeteZusatzRenten:
        type: array
        items:
          $ref: '#/definitions/EinnahmenMonatlich'
      unterhaltsVerpflichtungen:
        type: array
        items:
          $ref: '#/definitions/AusgabenMonatlich'
      variableEinkuenfte:
        type: array
        items:
          $ref: '#/definitions/EinnahmenMonatlich'
      versicherungsAusgaben:
        type: array
        items:
          $ref: '#/definitions/AusgabenMonatlich'
      wertpapiere:
        type: array
        items:
          $ref: '#/definitions/Wertpapiere'
    title: HaushaltsPositionen
  ImmobilieVerknuepfung:
    type: object
    properties:
      id:
        type: string
    title: ImmobilieVerknuepfung
  KfwDarlehen:
    title: KfwDarlehen
    allOf:
      - $ref: '#/definitions/GegenangebotDarlehen'
      - type: object
        required:
          - anfaenglicheTilgung
          - bereitstellungsZins
          - bereitstellungsZinsFreieZeitInMonaten
          - darlehensBetrag
          - darlehensTyp
          - effektivZins
          - kfwProgramm
          - laufzeitKalkulatorischInJahren
          - rateMonatlich
          - rateMonatlichInDerTilgungsfreienAnlaufzeit
          - sollZins
          - tilgungsFreieAnlaufJahre
          - vertriebsProvisionGesamtAbsolut
          - zinsBindungInJahren
        discriminator: darlehensTyp
        properties:
          anfaenglicheTilgung:
            type: number
          bereitstellungsZins:
            type: number
          bereitstellungsZinsFreieZeitInMonaten:
            type: integer
            format: int32
          darlehensBetrag:
            type: number
          darlehensTyp:
            type: string
            enum:
              - ANNUITAETEN_DARLEHEN
              - FORWARD_DARLEHEN
              - KFW_DARLEHEN
              - PRIVAT_DARLEHEN
              - REGIONAL_FOERDER_DARLEHEN
              - VARIABLES_DARLEHEN
              - ZWISCHEN_FINANZIERUNG
          effektivZins:
            type: number
          kfwEnergieEffizienzStandard:
            type: string
            description: "Nur benötigt, wenn kfwProgramm = PROGRAMM_153"
            enum:
              - STANDARD_40
              - STANDARD_40_PLUS
              - STANDARD_55
          kfwProgramm:
            type: string
            enum:
              - PROGRAMM_124
              - PROGRAMM_151
              - PROGRAMM_152
              - PROGRAMM_153
              - PROGRAMM_159
              - PROGRAMM_167
          laufzeitKalkulatorischInJahren:
            type: integer
            format: int32
          produktDetails:
            type: string
            description: Wird dem Vertrieb als Beschreibung zum Produkt angezeigt.
          rateMonatlich:
            type: number
          rateMonatlichInDerTilgungsfreienAnlaufzeit:
            type: number
          sollZins:
            type: number
          tilgungsFreieAnlaufJahre:
            type: integer
            format: int32
          vertriebsProvisionGesamtAbsolut:
            type: number
            description: Enthält die Vertriebsprovision inkl. Overhead. Die Europace-Provision wird separat berechnet.
          zinsBindungInJahren:
            type: integer
            format: int32
        title: KfwDarlehen
        description: Erweitert GegenangebotDarlehen
    description: Erweitert GegenangebotDarlehen
  Kind:
    type: object
    properties:
      geburtsdatum:
        type: string
        format: date
      kindergeldWirdBezogen:
        type: boolean
      name:
        type: string
      unterhaltsEinnahmenBetragMonatlich:
        type: number
    title: Kind
  LebensOderRentenversicherungVermoegen:
    type: object
    properties:
      id:
        type: string
      maximalAufzuloesenderBetrag:
        type: number
      praemieMonatlich:
        type: number
      rueckkaufsWertAktuell:
        type: number
      tarif:
        type: string
      typ:
        type: string
        enum:
          - FONDSGEBUNDENE_LEBENSVERSICHERUNG
          - FONDSGEBUNDENE_RENTENVERSICHERUNG
          - KAPITALBILDENDE_LEBENSVERSICHERUNG
          - KAPITALBILDENDE_RENTENVERSICHERUNG
          - RISIKO_LEBENSVERSICHERUNG
      vermoegensEinsatz:
        type: string
        enum:
          - ABTRETEN
          - AUFLOESEN
          - KEIN_EINSATZ
      vermoegensTyp:
        type: string
        description: Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium
        enum:
          - VERBINDLICHKEIT
          - VERMOEGEN
      versicherungsGesellschaft:
        type: string
      versicherungsSumme:
        type: number
      vertragsBeginn:
        type: string
        format: date
      vertragsEnde:
        type: string
        format: date
      vertragsNummer:
        type: string
      verwaltungsgebuehrenJaehrlich:
        type: number
      zahlungsTyp:
        type: string
        description: Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium
        enum:
          - AUSGABE
          - EINNAHME
    title: LebensOderRentenversicherungVermoegen
  LegitimationsDaten:
    type: object
    properties:
      ausstellendeBehoerde:
        type: string
      ausstellungsdatum:
        type: string
        format: date
      ausweisArt:
        type: string
        enum:
          - ANDERE
          - PERSONALAUSWEIS
          - REISEPASS
      ausweisArtBeiAndererAusweis:
        type: string
        description: Nur wenn ausweisArt = ANDERE
      ausweisNummer:
        type: string
    title: LegitimationsDaten
  Link:
    type: object
    properties:
      href:
        type: string
      type:
        type: string
    title: Link
  Links:
    type: object
    properties:
      self:
        $ref: '#/definitions/Link'
    title: Links
  Meldung:
    type: object
    properties:
      kategorie:
        type: string
        description: "Mögliche Werte sind: AUSZAHLUNGS_VORAUSSETZUNG,MACHBAR,MACHBARKEITS_HINWEIS,ANPASSUNG_KUNDENWUNSCH,ANPASSUNG_VERTRIEBSWUNSCH,UNBERUECKSICHTIGTE_ANGABE,KONDITIONEN_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN,KONDITIONEN_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN,MACHBARKEIT_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN,MACHBARKEIT_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN,MACHBAR_UNTER_VORBEHALT_PRODUZENT,NICHT_MACHBAR,NICHT_ANBIETBAR. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
      kreditEntscheider:
        $ref: '#/definitions/ProduktAnbieter'
      produktAnbieter:
        $ref: '#/definitions/ProduktAnbieter'
      text:
        type: string
    title: Meldung
  MietAusgaben:
    type: object
    properties:
      ausgabenMonatlich:
        type: number
      entfallenMitFinanzierung:
        type: boolean
      zahlungsTyp:
        type: string
        description: Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium
        enum:
          - AUSGABE
          - EINNAHME
    title: MietAusgaben
  MiteigentumsAnteil:
    type: object
    properties:
      anteil:
        type: number
        format: double
      gesamt:
        type: integer
        format: int32
    title: MiteigentumsAnteil
  Modernisierung:
    type: object
    properties:
      jahrDerModernisierung:
        type: string
      modernisierungGrad:
        type: string
        description: "Erlaubte Werte sind: UEBERWIEGEND,UMFASSEND,MITTEL,EINFACH. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
        enum:
          - EINFACH
          - MITTEL
          - UEBERWIEGEND
          - UMFASSEND
      modernisierungsArt:
        type: string
        description: "Erlaubte Werte sind: KERNSANIERUNG, DACHERNEUERUNG, FENSTER, ROHRLEITUNGEN, HEIZUNG, WAERMEDAEMMUNG, BAEDER, INNENAUSBAU, RAUMAUFTEILUNG. Der Client muss daher mit unbekannten Werten umgehen können."
        enum:
          - BAEDER
          - DACHERNEUERUNG
          - FENSTER
          - HEIZUNG
          - INNENAUSBAU
          - KERNSANIERUNG
          - RAUMAUFTEILUNG
          - ROHRLEITUNGEN
          - WAERMEDAEMMUNG
    title: Modernisierung
  ModernisierungsAngaben:
    type: object
    properties:
      modernisierungsGrad:
        type: string
        description: "erlaubt sind GERING,MITTEL,HOCH. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
      modernisierungsJahr:
        type: string
        example: "2016"
        description: Jahr der Modernisierung der Immobilie. Vierstellige Jahresangabe
    title: ModernisierungsAngaben
  NachrangigesExternesDarlehen:
    type: object
    properties:
      darlehensBetrag:
        type: number
      darlehensGeber:
        type: string
        description: Der Name des externen Darlehensgebers (Firmierung). Es gibt keine entsprechende Beziehung zu einem Partner auf der Europace-Plattform.
      id:
        type: string
      laufzeitEnde:
        type: string
        format: date
      rateMonatlich:
        type: number
      typ:
        type: string
        description: "Erlaubte Werte sind: ARBEITGEBERDARLEHEN,BAUSPARDARLEHEN,OEFFENTLICHES_DARLEHEN,RATENKREDIT. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
      zinsBindung:
        $ref: '#/definitions/ZinsBindung'
    title: NachrangigesExternesDarlehen
  PaginationLinks:
    type: object
    properties:
      next:
        $ref: '#/definitions/Link'
      prev:
        $ref: '#/definitions/Link'
      self:
        $ref: '#/definitions/Link'
    title: PaginationLinks
  Partner:
    type: object
    properties:
      _links:
        $ref: '#/definitions/Links'
      anrede:
        type: string
      anschrift:
        $ref: '#/definitions/Anschrift'
      aufsichtsBehoerde:
        type: string
      email:
        type: string
      externerKreditSachbearbeiterId:
        type: string
      firmierung:
        type: string
      nachname:
        type: string
      partnerId:
        type: string
      partnerKennzeichen:
        type: array
        description: Liste aller Partnerkennzeichen
        items:
          $ref: '#/definitions/PartnerKennzeichen'
      registrierungsNummer:
        type: string
      telefonnummer:
        type: string
      vertriebsOrganisation:
        type: string
      vertriebsOrganisationsId:
        type: string
      vorname:
        type: string
      webseite:
        type: string
    title: Partner
    description: "Minimale Informationen zum Partner der EP2 Plattform, weitere Informationen können über die HAL-Relation abgerufen werden."
  PartnerKennzeichen:
    type: object
    properties:
      name:
        type: string
        description: Name des Partnerkennzeichens
      wert:
        type: string
        description: Wert des Partnerkennzeichenss
    title: PartnerKennzeichen
  PatchOperation:
    type: object
    properties:
      from:
        type: string
      op:
        type: string
        description: Auszuführende Operation
        enum:
          - add
          - copy
          - move
          - remove
          - replace
          - test
      path:
        type: string
        description: "JSON-Path im Antrag. Valide Pfade sind: '/antragsReferenz', '/status', '/status/antragsteller', '/ansprechpartner/partnerId', '/status/produktAnbieter', '/voraussichtlicheBearbeitung'."
      value:
        type: object
        example: "\"WER123\", 1234, {\"antragsteller\": \"BEANTRAGT\"}"
        description: "Zu setzender oder auszutauschender Wert. Erlaubt sind string, number oder JSON object"
        properties: { }
    title: PatchOperation
    description: "A JSONPatch document as defined by RFC 6902 (see http://jsonpatch.com/). Beispiel: { \"op\": \"replace\", \"path\": \"/antragsReferenz\", \"value\": \"123-ABC\"\" }"
  Postadresse:
    type: object
    properties:
      hausnummer:
        type: string
      ort:
        type: string
      postleitzahl:
        type: string
      strasse:
        type: string
    title: Postadresse
  PrivatDarlehen:
    title: PrivatDarlehen
    allOf:
      - $ref: '#/definitions/GegenangebotDarlehen'
      - type: object
        required:
          - anfaenglicheTilgung
          - darlehensBetrag
          - darlehensTyp
          - effektivZins
          - laufzeitKalkulatorischInMonaten
          - rateMonatlich
          - sollZins
          - vertriebsProvisionGesamtAbsolut
          - zinsBindungInMonaten
        discriminator: darlehensTyp
        properties:
          anfaenglicheTilgung:
            type: number
          darlehensBetrag:
            type: number
          darlehensTyp:
            type: string
            enum:
              - ANNUITAETEN_DARLEHEN
              - FORWARD_DARLEHEN
              - KFW_DARLEHEN
              - PRIVAT_DARLEHEN
              - REGIONAL_FOERDER_DARLEHEN
              - VARIABLES_DARLEHEN
              - ZWISCHEN_FINANZIERUNG
          effektivZins:
            type: number
          laufzeitKalkulatorischInMonaten:
            type: integer
            format: int32
          produktDetails:
            type: string
            description: Wird dem Vertrieb als Beschreibung zum Produkt angezeigt.
          rateMonatlich:
            type: number
          sollZins:
            type: number
          vertriebsProvisionGesamtAbsolut:
            type: number
            description: Enthält die Vertriebsprovision inkl. Overhead. Die Europace-Provision wird separat berechnet.
          zinsBindungInMonaten:
            type: integer
            format: int32
        title: PrivatDarlehen
        description: Erweitert GegenangebotDarlehen
    description: Erweitert GegenangebotDarlehen
  Problem:
    type: object
    properties:
      message:
        type: string
      statusCode:
        type: integer
        format: int32
      statusMessage:
        type: string
      traceId:
        type: string
      violations:
        type: array
        items:
          $ref: '#/definitions/Violation'
    title: Problem
  ProduktAnbieter:
    type: object
    properties:
      anrede:
        type: string
      anschrift:
        $ref: '#/definitions/Anschrift'
      aufsichtsBehoerde:
        type: string
      email:
        type: string
      externerKreditSachbearbeiterId:
        type: string
      firmierung:
        type: string
      nachname:
        type: string
      partnerId:
        type: string
      partnerKennzeichen:
        type: array
        description: Liste aller Partnerkennzeichen
        items:
          $ref: '#/definitions/PartnerKennzeichen'
      produktAnbieterId:
        type: string
      produktAnbieterKurzName:
        type: string
      registrierungsNummer:
        type: string
      telefonnummer:
        type: string
      vertriebsOrganisation:
        type: string
      vertriebsOrganisationsId:
        type: string
      vorname:
        type: string
      webseite:
        type: string
    title: ProduktAnbieter
  Provision:
    type: object
    properties:
      europaceGebuehren:
        type: number
        description: Beinhaltet nur den selbst aufzubringenden Betrag
      europaceGebuehrenSindSteuerpflichtig:
        type: boolean
      kundenbetreuerProvision:
        type: number
      vertriebsProvisionGesamt:
        type: number
    title: Provision
  RechteAbteilung2:
    type: object
    properties:
      beschreibung:
        type: string
      betrag:
        type: number
    title: RechteAbteilung2
  RegionalFoerderDarlehen:
    title: RegionalFoerderDarlehen
    allOf:
      - $ref: '#/definitions/GegenangebotDarlehen'
      - type: object
        required:
          - anfaenglicheTilgung
          - bereitstellungsZins
          - bereitstellungsZinsFreieZeitInMonaten
          - darlehensBetrag
          - darlehensTyp
          - effektivZins
          - laufzeitKalkulatorischInJahren
          - rateMonatlich
          - rateMonatlichInDerTilgungsfreienAnlaufzeit
          - regionalFoerderbankProgramm
          - sollZins
          - tilgungsFreieAnlaufJahre
          - vertriebsProvisionGesamtAbsolut
          - zinsBindungInJahren
        discriminator: darlehensTyp
        properties:
          anfaenglicheTilgung:
            type: number
          bereitstellungsZins:
            type: number
          bereitstellungsZinsFreieZeitInMonaten:
            type: integer
            format: int32
          darlehensBetrag:
            type: number
          darlehensTyp:
            type: string
            enum:
              - ANNUITAETEN_DARLEHEN
              - FORWARD_DARLEHEN
              - KFW_DARLEHEN
              - PRIVAT_DARLEHEN
              - REGIONAL_FOERDER_DARLEHEN
              - VARIABLES_DARLEHEN
              - ZWISCHEN_FINANZIERUNG
          effektivZins:
            type: number
          laufzeitKalkulatorischInJahren:
            type: integer
            format: int32
          produktDetails:
            type: string
            description: Wird dem Vertrieb als Beschreibung zum Produkt angezeigt.
          rateMonatlich:
            type: number
          rateMonatlichInDerTilgungsfreienAnlaufzeit:
            type: number
          regionalFoerderbankProgramm:
            type: string
            enum:
              - L_BANK_KOMBI_DARLEHEN_WOHNEN
              - L_BANK_WOHNEN_MIT_KIND
              - L_BANK_WOHNEN_MIT_ZUKUNFT
              - NRW_BANK_WOHNEIGENTUM
          sollZins:
            type: number
          tilgungsFreieAnlaufJahre:
            type: integer
            format: int32
          vertriebsProvisionGesamtAbsolut:
            type: number
            description: Enthält die Vertriebsprovision inkl. Overhead. Die Europace-Provision wird separat berechnet.
          zinsBindungInJahren:
            type: integer
            format: int32
        title: RegionalFoerderDarlehen
        description: Erweitert GegenangebotDarlehen
    description: Erweitert GegenangebotDarlehen
  RisikoAbsicherung:
    type: object
    properties:
      abgesichertesRisiko:
        type: string
        enum:
          - ARBEITSLOSIGKEIT
          - ARBEITSUNFAEHIGKEIT
          - ASSISTANCE_ARBEITSLOSIGKEIT
          - ASSISTANCE_ARBEITSUNFAEHIGKEIT
          - INVALIDITAET
          - SCHWERE_KRANKHEIT
          - TODESFALL
      auszahlungsBetrag:
        type: number
      auszahlungsTurnus:
        type: string
        enum:
          - EINMALIG
          - HALBJAEHRLICH
          - JAEHRLICH
          - MONATLICH
          - VIERTELJAEHRLICH
      praemienAnteil:
        type: number
    title: RisikoAbsicherung
  SchufaErgebnis:
    type: object
    properties:
      antragstellerUnbekannt:
        type: boolean
        description: Der Antragsteller ist bei der Schufa unbekannt.
      inManuellerNachbehandlung:
        type: boolean
        description: "Die Ermittlung des Schufa-Scores verzögert sich, wenn sich die Anfrage bei der Schufa in manueller Nachbehandlung befindet."
      score:
        type: string
    title: SchufaErgebnis
  SituationNachRenteneintritt:
    type: object
    properties:
      gesetzlicheRenteMonatlich:
        type: number
      privateRenteMonatlich:
        type: number
      rentenBeginn:
        type: string
[...]
