---
openapi: "3.1.0"
info:
  contact:
    email: "devsupport@europace2.de"
    name: "Europace AG"
    url: "https://docs.api.europace.de"
  description:
    "As a loan provider get all the data of your applications for highly\
    \ effective validations and approvals."
  title: "Anträge API"
  version: "2.86"
servers:
  - url: "https://baufismart.api.europace.de"
security:
  - oauth_security: []
tags:
  - description: "All about mortage-applications and -approvals."
    name: "Antraege"
paths:
  /v2/antraege:
    get:
      description:
        "As loan provider, you'll get a list of all your applications,\
        \ sorted by lastChanged, paged and filterable."
      operationId: "getAll"
      parameters:
        - description: "usage mode"
          in: "query"
          name: "datenKontext"
          required: false
          schema:
            type: "string"
            default: "ECHT_GESCHAEFT"
            enum:
              - "TEST_MODUS"
              - "ECHT_GESCHAEFT"
        - description: "filter by created after, date as ISO Format UTC - Zulu"
          example: "2016-03-11T10:57:45Z"
          in: "query"
          name: "angenommenNach"
          required: false
          schema:
            type: "string"
        - description: "filter by created before, date as ISO Format UTC - Zulu"
          example: "2016-03-11T10:57:45Z"
          in: "query"
          name: "angenommenVor"
          required: false
          schema:
            type: "string"
        - description: "filter by your own reference"
          in: "query"
          name: "antragsReferenz"
          required: false
          schema:
            type: "string"
        - description: "sort mode, default descending"
          in: "query"
          name: "sort"
          required: false
          schema:
            type: "string"
            default: "absteigend"
        - in: "query"
          name: "page"
          required: false
          schema:
            type: "integer"
            format: "int32"
            default: 0
        - in: "query"
          name: "limit"
          required: false
          schema:
            type: "integer"
            format: "int32"
            default: 10
        - description: "filter by loan provider"
          in: "query"
          name: "produktAnbieter"
          required: false
          schema:
            type: "string"
        - description: "filter by changes since, date as ISO Format UTC - Zulu"
          example: "2016-03-11T10:57:45Z"
          in: "query"
          name: "aenderungSeit"
          required: false
          schema:
            type: "string"
        - description: "filter by changes until, date as ISO Format UTC - Zulu"
          example: "2016-03-11T10:57:45Z"
          in: "query"
          name: "aenderungBis"
          required: false
          schema:
            type: "string"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Antraege"
          description: "OK"
        "400":
          content:
            application/json: {}
          description: "Client Error"
        "401":
          content:
            application/json: {}
          description: "Unauthorized"
        "403":
          content:
            application/json: {}
          description: "Forbidden"
        "404":
          content:
            application/json: {}
          description: "Not Found"
        "422":
          content:
            application/json: {}
          description: "Unprocessable Entity"
        "500":
          content:
            application/json: {}
          description: "Internal Server Error"
      security:
        - oauth_security:
            - "baufinanzierung:antrag:lesen"
        - oauth_security: []
      summary: "get list of all applications"
      tags:
        - "Antraege"
  /v2/antraege/{vorgang}:
    get:
      description: "As advisor, you'll get a list of all applications of your case."
      operationId: "getAntraegeByVorgangNummer"
      parameters:
        - description: "case-id"
          example: "AB1234"
          in: "path"
          name: "vorgang"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Antraege"
          description: "OK"
        "400":
          content:
            application/json: {}
          description: "Client Error"
        "401":
          content:
            application/json: {}
          description: "Unauthorized"
        "403":
          content:
            application/json: {}
          description: "Forbidden"
        "404":
          content:
            application/json: {}
          description: "Not Found"
        "422":
          content:
            application/json: {}
          description: "Unprocessable Entity"
        "500":
          content:
            application/json: {}
          description: "Internal Server Error"
      security:
        - oauth_security:
            - "baufinanzierung:antrag:lesen"
        - oauth_security: []
      summary: "get list of all applications of a case"
      tags:
        - "Antraege"
  /v2/antraege/{vorgang}/{antrag}:
    get:
      description:
        "As loan Provider, you'll get a list of approvals with data for\
        \ validation and decision."
      operationId: "getAntraege"
      parameters:
        - description: "case-id"
          example: "AB1234"
          in: "path"
          name: "vorgang"
          required: true
          schema:
            type: "string"
        - description: "iterator-solution"
          example: 3
          in: "path"
          name: "antrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Antraege"
          description: "OK"
        "400":
          content:
            application/json: {}
          description: "Client Error"
        "401":
          content:
            application/json: {}
          description: "Unauthorized"
        "403":
          content:
            application/json: {}
          description: "Forbidden"
        "404":
          content:
            application/json: {}
          description: "Not Found"
        "422":
          content:
            application/json: {}
          description: "Unprocessable Entity"
        "500":
          content:
            application/json: {}
          description: "Internal Server Error"
      security:
        - oauth_security:
            - "baufinanzierung:antrag:lesen"
        - oauth_security: []
      summary: "get list of approvals of an application"
      tags:
        - "Antraege"
  /v2/antraege/{vorgang}/{antrag}/{teilantrag}:
    get:
      description:
        "As loan Provider, you'll get all data of an application for validation\
        \ and decision."
      operationId: "getAntrag"
      parameters:
        - description: "case-id"
          example: "AB1234"
          in: "path"
          name: "vorgang"
          required: true
          schema:
            type: "string"
        - description: "iterator-solution"
          example: 3
          in: "path"
          name: "antrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
        - description: "iterator-application"
          example: 1
          in: "path"
          name: "teilantrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Antrag"
          description: "OK"
        "400":
          content:
            application/json: {}
          description: "Client Error"
        "401":
          content:
            application/json: {}
          description: "Unauthorized"
        "403":
          content:
            application/json: {}
          description: "Forbidden"
        "404":
          content:
            application/json: {}
          description: "Not Found"
        "422":
          content:
            application/json: {}
          description: "Unprocessable Entity"
        "500":
          content:
            application/json: {}
          description: "Internal Server Error"
      security:
        - oauth_security:
            - "baufinanzierung:antrag:lesen"
        - oauth_security: []
      summary: "get application"
      tags:
        - "Antraege"
    patch:
      description:
        "As loan provider, update the planned approving date, the loan\
        \ officer contact details and your own reference for well informed advisors\
        \ and easy conversations with sales."
      operationId: "updateAntrag"
      parameters:
        - description: "case-id"
          example: "AB1234/1/2"
          in: "path"
          name: "vorgang"
          required: true
          schema:
            type: "string"
        - description: "iterator-solution"
          example: 3
          in: "path"
          name: "antrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
        - description: "approval-iterator"
          example: 1
          in: "path"
          name: "teilantrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
      requestBody:
        content:
          application/json:
            schema:
              type: "array"
              items:
                $ref: "#/components/schemas/PatchOperation"
          application/json-patch+json:
            schema:
              type: "array"
              items:
                $ref: "#/components/schemas/PatchOperation"
        required: true
      responses:
        "204":
          description: "NO_CONTENT"
      security:
        - oauth_security:
            - "baufinanzierung:antrag:schreiben"
        - oauth_security: []
      summary: "patch application"
      tags:
        - "Antraege"
  /v2/antraege/{vorgang}/{antrag}/{teilantrag}/angebot:
    get:
      description:
        "As loan provider, you'll get all loan details wich are accepted\
        \ by the customer."
      operationId: "getAngebot"
      parameters:
        - description: "case-id"
          example: "AB1234"
          in: "path"
          name: "vorgang"
          required: true
          schema:
            type: "string"
        - description: "iterator-solution"
          example: 3
          in: "path"
          name: "antrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
        - description: "approval-iterator"
          example: 1
          in: "path"
          name: "teilantrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AngebotZumAntrag"
          description: "OK"
        "400":
          content:
            application/json: {}
          description: "Client Error"
        "401":
          content:
            application/json: {}
          description: "Unauthorized"
        "403":
          content:
            application/json: {}
          description: "Forbidden"
        "404":
          content:
            application/json: {}
          description: "Not Found"
        "422":
          content:
            application/json: {}
          description: "Unprocessable Entity"
        "500":
          content:
            application/json: {}
          description: "Internal Server Error"
      security:
        - oauth_security:
            - "baufinanzierung:antrag:lesen"
        - oauth_security: []
      summary: "get offer"
      tags:
        - "Antraege"
  /v2/antraege/{vorgang}/{antrag}/{teilantrag}/angebot/zahlungsplaene:
    get:
      description: "As loan provider, you'll get a redemption plan of the loan."
      operationId: "getZahlungsplaene"
      parameters:
        - description: "case-id"
          example: "AB1234"
          in: "path"
          name: "vorgang"
          required: true
          schema:
            type: "string"
        - description: "iterator-solution"
          example: 3
          in: "path"
          name: "antrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
        - description: "approval-iterator"
          example: 1
          in: "path"
          name: "teilantrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Zahlungsplaene"
          description: "OK"
        "400":
          content:
            application/json: {}
          description: "Client Error"
        "401":
          content:
            application/json: {}
          description: "Unauthorized"
        "403":
          content:
            application/json: {}
          description: "Forbidden"
        "404":
          content:
            application/json: {}
          description: "Not Found"
        "422":
          content:
            application/json: {}
          description: "Unprocessable Entity"
        "500":
          content:
            application/json: {}
          description: "Internal Server Error"
      security:
        - oauth_security:
            - "baufinanzierung:antrag:lesen"
        - oauth_security: []
      summary: "get redemption plan"
      tags:
        - "Antraege"
  /v2/antraege/{vorgang}/{antrag}/{teilantrag}/ansprechpartner:
    get:
      description:
        "As loan provider, you'll get the contact details of the clerk\
        \ for communication."
      operationId: "getAnsprechpartner"
      parameters:
        - description: "case-id"
          example: "AB1234"
          in: "path"
          name: "vorgang"
          required: true
          schema:
            type: "string"
        - description: "application-id"
          example: 3
          in: "path"
          name: "antrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
        - description: "iterator-application"
          example: 1
          in: "path"
          name: "teilantrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Partner"
          description: "OK"
        "400":
          content:
            application/json: {}
          description: "Client Error"
        "401":
          content:
            application/json: {}
          description: "Unauthorized"
        "403":
          content:
            application/json: {}
          description: "Forbidden"
        "404":
          content:
            application/json: {}
          description: "Not Found"
        "422":
          content:
            application/json: {}
          description: "Unprocessable Entity"
        "500":
          content:
            application/json: {}
          description: "Internal Server Error"
      security:
        - oauth_security:
            - "baufinanzierung:antrag:lesen"
        - oauth_security: []
      summary: "get clerk"
      tags:
        - "Antraege"
  /v2/antraege/{vorgang}/{antrag}/{teilantrag}/gegenangebot:
    post:
      description:
        "As loan provider, you can resend an adjusted offer, to create\
        \ a working solution for the customer. \n\nA counteroffer is an adjusted offer\
        \ based on the application set by the loan provider.\n\nIf a counteroffer\
        \ is created, the original offer will be marked as 'ABGELEHNT' and a new offer\
        \ will be created. The new offer is automatically marked as `UNTERSCHRIEBEN\
        \ ` from the loan provider. \n\nA single loan or a combination of loans can\
        \ be offered as a counteroffer."
      operationId: "erstelleGegenangebot"
      parameters:
        - description: "case-id"
          example: "AB1234"
          in: "path"
          name: "vorgang"
          required: true
          schema:
            type: "string"
        - description: "iterator-solution"
          example: 3
          in: "path"
          name: "antrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
        - description: "approval-iterator"
          example: 1
          in: "path"
          name: "teilantrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Gegenangebot"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                type: "string"
          description: "CREATED"
        "400":
          content:
            application/json:
              schema:
                type: "string"
          description: "CLIENT ERROR"
      security:
        - oauth_security:
            - "baufinanzierung:antrag:schreiben"
            - "baufinanzierung:echtgeschaeft"
        - oauth_security: []
      summary: "create counteroffer"
      tags:
        - "Antraege"
  /v2/antraege/{vorgang}/{antrag}/{teilantrag}/nachricht:
    get:
      description:
        "As loan provider, you can send a message to the advisor to communicate\
        \ without a denied-state. \n\nImportant! Please prefer `set state` for communication\
        \ with advisor, because states are more helpful for process reporting. \n\n\
        This method should be your last choice."
      operationId: "addNachricht"
      parameters:
        - description: "case-id"
          example: "AB1234"
          in: "path"
          name: "vorgang"
          required: true
          schema:
            type: "string"
        - description: "iterator-solution"
          example: 3
          in: "path"
          name: "antrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
        - description: "iterator-application"
          example: 1
          in: "path"
          name: "teilantrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NachrichtDTO"
        required: true
      responses:
        "201":
          description: "CREATED"
      security:
        - oauth_security:
            - "baufinanzierung:antrag:schreiben"
        - oauth_security: []
      summary: "send message"
      tags:
        - "Antraege"
    post:
      description:
        "As loan provider, you can send a message to the advisor to communicate\
        \ without a denied-state. \n\nImportant! Please prefer `set state` for communication\
        \ with advisor, because states are more helpful for process reporting. \n\n\
        This method should be your last choice."
      operationId: "addNachricht_1"
      parameters:
        - description: "case-id"
          example: "AB1234"
          in: "path"
          name: "vorgang"
          required: true
          schema:
            type: "string"
        - description: "iterator-solution"
          example: 3
          in: "path"
          name: "antrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
        - description: "iterator-application"
          example: 1
          in: "path"
          name: "teilantrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NachrichtDTO"
        required: true
      responses:
        "201":
          description: "CREATED"
      security:
        - oauth_security:
            - "baufinanzierung:antrag:schreiben"
        - oauth_security: []
      summary: "send message"
      tags:
        - "Antraege"
  /v2/antraege/{vorgang}/{antrag}/{teilantrag}/status:
    get:
      description:
        "As loan provider, you can set a state for an application to inform\
        \ the advisor about your decision.\n\nIf you set a state for an application\
        \ the adivsor will be automatically informed by your descision and message.\
        \ You can use it, to send advisor a message if you choose the right state\
        \ and use the property `kommentar`."
      operationId: "setStatus"
      parameters:
        - description: "case-id"
          example: "AB1234"
          in: "path"
          name: "vorgang"
          required: true
          schema:
            type: "string"
        - description: "iterator-solution"
          example: 3
          in: "path"
          name: "antrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
        - description: "iterator-application"
          example: 1
          in: "path"
          name: "teilantrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StatusDTO"
        required: true
      responses:
        "202":
          description: "ACCEPTED"
      security:
        - oauth_security:
            - "baufinanzierung:antrag:schreiben"
        - oauth_security: []
      summary: "set state"
      tags:
        - "Antraege"
    post:
      description:
        "As loan provider, you can set a state for an application to inform\
        \ the advisor about your decision.\n\nIf you set a state for an application\
        \ the adivsor will be automatically informed by your descision and message.\
        \ You can use it, to send advisor a message if you choose the right state\
        \ and use the property `kommentar`."
      operationId: "setStatus_1"
      parameters:
        - description: "case-id"
          example: "AB1234"
          in: "path"
          name: "vorgang"
          required: true
          schema:
            type: "string"
        - description: "iterator-solution"
          example: 3
          in: "path"
          name: "antrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
        - description: "iterator-application"
          example: 1
          in: "path"
          name: "teilantrag"
          required: true
          schema:
            type: "integer"
            format: "int32"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StatusDTO"
        required: true
      responses:
        "202":
          description: "ACCEPTED"
      security:
        - oauth_security:
            - "baufinanzierung:antrag:schreiben"
        - oauth_security: []
      summary: "set state"
      tags:
        - "Antraege"
components:
  headers:
    Authorization:
      description: "Your authorization token. See https://docs.api.europace.de/common/authentifizierung/authorization-api/"
      schema:
        type: "string"
    X-Authentication:
      description: "Deprecated. Please use https://docs.api.europace.de/common/authentifizierung/authorization-api/"
      schema:
        type: "string"
    X-TraceId:
      description: "Your request ID. See https://docs.api.europace.de/common/tracing/"
      schema:
        type: "string"
  schemas:
    Absicherung:
      type: "object"
      properties:
        abgesicherteRisiken:
          type: "array"
          items:
            $ref: "#/components/schemas/RisikoAbsicherung"
        externeAngebotsNummer:
          type: "string"
        gesamtPraemie:
          type: "number"
        praemienZahlungsweise:
          type: "string"
          enum:
            - "EINMALIG"
            - "MONATLICH"
            - "VIERTELJAEHRLICH"
            - "HALBJAEHRLICH"
            - "JAEHRLICH"
        tarifBezeichnung:
          type: "string"
        tarifKennung:
          type: "string"
        versichertePersonId:
          type: "string"
        versicherungsArt:
          type: "string"
        versicherungsNummer:
          type: "string"
        versicherungsZeitraum:
          $ref: "#/components/schemas/VersicherungsZeitraum"
    AbsicherungsAngaben:
      type: "object"
      properties:
        betraegtWoechentlicheArbeitsZeitMindestens15Stunden:
          type: "boolean"
          description: "TRUE if the weekly working time is at least 15 hours"
    AngebotZumAntrag:
      type: "object"
      description: "offer details"
      properties:
        _links:
          $ref: "#/components/schemas/Links"
        absicherungen:
          type: "array"
          description: "payment protection insurance"
          items:
            $ref: "#/components/schemas/Absicherung"
        bausparvertraege:
          type: "array"
          items:
            $ref: "#/components/schemas/Bausparvertrag"
        beleihungsRechnung:
          $ref: "#/components/schemas/BeleihungsRechnung"
          description: "mortgage value calculation"
        bewertungDesAngebots:
          type: "string"
          description: "type of advisory responsability"
          enum:
            - "ANGEBOT_ENTSPRICHT_DER_EMPFEHLUNG_DES_KUNDENBETREUERS"
            - "ANGEBOT_ENTSPRICHT_DEM_WUNSCH_DES_KUNDEN"
        bonitaet:
          type: "array"
          description: "creditworthiness"
          items:
            $ref: "#/components/schemas/Bonitaet"
        darlehen:
          type: "array"
          items:
            $ref: "#/components/schemas/Darlehen"
        erzeugtAm:
          type: "string"
          format: "date-time"
          description: "date offer created"
        kennung:
          type: "string"
          description: "additional offer name"
        machbarkeitsStatus:
          type: "string"
          description: "feasibility state"
          enum:
            - "MACHBAR"
            - "UNTER_VORBEHALT_PRODUZENT"
            - "NICHT_MACHBAR"
        meldungen:
          type: "array"
          items:
            $ref: "#/components/schemas/Meldung"
        pruefungsErgebnisse:
          type: "array"
          description: "result of europace-offer-validation"
          items:
            $ref: "#/components/schemas/AngebotsPruefungsErgebnis"
    AngebotsPruefungsErgebnis:
      type: "object"
      properties:
        bewertung:
          $ref: "#/components/schemas/BewertungDurchProduktAnbieter"
        kfwKonditionsReservierung:
          $ref: "#/components/schemas/KfwKonditionsReservierung"
        produktAnbieterId:
          type: "string"
    AnnuitaetenDarlehen:
      allOf:
        - $ref: "#/components/schemas/GegenangebotDarlehen"
        - type: "object"
          properties:
            bereitstellungsZins:
              type: "number"
            bereitstellungsZinsFreieZeitInMonaten:
              type: "integer"
              format: "int32"
            laufzeitKalkulatorischInJahren:
              type: "integer"
              format: "int32"
            sonderTilgungJaehrlich:
              type: "number"
            tilgungsBeginnAm:
              type: "string"
              format: "date-time"
              example: "2020-03-28"
            zinsBindungInJahren:
              type: "integer"
              format: "int32"
      description: "extends GegenangebotDarlehen"
      required:
        - "anfaenglicheTilgung"
        - "bereitstellungsZinsFreieZeitInMonaten"
        - "darlehensBetrag"
        - "darlehensTyp"
        - "effektivZins"
        - "laufzeitKalkulatorischInJahren"
        - "rateMonatlich"
        - "sollZins"
        - "sonderTilgungJaehrlich"
        - "vertriebsProvisionGesamtAbsolut"
        - "zinsBindungInJahren"
    Anschrift:
      type: "object"
      properties:
        hausnummer:
          type: "string"
          description: "housenumber"
        ort:
          type: "string"
          description: "place"
        plz:
          type: "string"
          description: "zip-code"
        strasse:
          type: "string"
          description: "street"
    Antraege:
      type: "object"
      description: "list of applications"
      properties:
        _links:
          $ref: "#/components/schemas/PaginationLinks"
        antraege:
          type: "array"
          items:
            $ref: "#/components/schemas/Antrag"
    Antrag:
      type: "object"
      description: "application for a loan provider to approve"
      properties:
        _links:
          $ref: "#/components/schemas/Links"
        angebot:
          $ref: "#/components/schemas/AngebotZumAntrag"
          description:
            "The offer on which the application is based on. Not returned\
            \ in the list of all applications."
        ansprechpartner:
          $ref: "#/components/schemas/Partner"
          description: "clerk. Not returned in the list of all applications."
        antragsNummer:
          type: "string"
          description: "application-id"
        antragsReferenz:
          type: "string"
          description: "loan providers reference for application"
        beratung:
          $ref: "#/components/schemas/Beratung"
          description:
            "information about advisor type. Not returned in the list of\
            \ all applications."
        datenKontext:
          type: "string"
          description: "usage mode of the api for production or testmode"
          enum:
            - "TEST_MODUS"
            - "ECHT_GESCHAEFT"
        dokumente:
          type: "array"
          description:
            "all generated documents, shared proofs and documents uploaded\
            \ by loan provider. Not returned in the list of all applications."
          items:
            $ref: "#/components/schemas/Dokument"
          uniqueItems: true
        entscheidungsreifeVomVertriebSignalisiert:
          type: "boolean"
          description: "advisor-mark of final state for approving"
        kreditSachbearbeiter:
          $ref: "#/components/schemas/Partner"
          description: "loan officer. Not returned in the list of all applications."
        letzteAenderung:
          type: "string"
          format: "date-time"
          description: "last changed date"
        letztesEreignis:
          type: "string"
          format: "date-time"
          description: "last event date. For example for messages from the advisors."
        produktAnbieter:
          $ref: "#/components/schemas/ProduktAnbieter"
          description: "Not returned in the list of all applications."
        prolongation:
          type: "boolean"
          description: "Not returned in the list of all applications."
        status:
          $ref: "#/components/schemas/AntragsStatus"
          description: "state of application. Not returned in the list of all applications."
        vermittler:
          $ref: "#/components/schemas/Partner"
          description: "advisor. Not returned in the list of all applications."
        vertriebsStrukturZumZeitpunktDerAnnahme:
          $ref: "#/components/schemas/VertriebsStruktur"
          description:
            "distribution channels of advisor and/or clerk at creation\
            \ date of application. Not returned in the list of all applications."
        voraussichtlicheBearbeitung:
          type: "string"
          format: "date"
          description: "estimated approval date. Not returned in the list of all applications."
        vorgangsReferenz:
          type: "string"
          description:
            "advisors reference for case. Not returned in the list of all\
            \ applications."
        weitereAntragsReferenzen:
          type: "object"
          additionalProperties:
            type: "string"
          description:
            "additional loan providers references. Will be visible to the\
            \ advisor. Not returned in the list of all applications."
        zeitpunktDerAnnahme:
          type: "string"
          format: "date-time"
          description: "creation date of application"
        zugrundeliegendeDaten:
          $ref: "#/components/schemas/ZugrundeliegendeDatenZumAntrag"
          description:
            "data of applicants, property and project, wich is the source\
            \ for application. Not returned in the list of all applications."
    AntragsStatus:
      type: "object"
      description: "application state"
      properties:
        antragsteller:
          type: "string"
          description: "application state advisor-side"
          enum:
            - "BEANTRAGT"
            - "UNTERSCHRIEBEN"
            - "NICHT_ANGENOMMEN"
            - "WIDERRUFEN"
        antragstellerAblehnungsgrund:
          type: "string"
          description: "reason for rejection by customer"
          enum:
            - "ANGEBOT_WETTBEWERBER"
            - "KONDITIONEN_UNPASSEND"
            - "KUNDE_NICHT_ERREICHBAR"
            - "OBJEKT_NICHT_INTERESSANT"
            - "OBJEKT_NICHT_VERFUEGBAR"
            - "FINANZIERUNG_WIRD_ANGEPASST"
            - "ANDERES_ANGEBOT_ANGENOMMEN"
            - "ANDERER_GRUND"
            - "BEARBEITUNGSZEIT"
        bearbeitungsFortschritt:
          type: "string"
          description: "application phase"
          enum:
            - "NICHT_VON_PRODUKTANBIETER_BESTAETIGT"
            - "VON_PRODUKTANBIETER_BESTAETIGT"
            - "FREIGEGEBEN_FUER_SAMMELFORDERUNG"
            - "PROVISION_IN_BEARBEITUNG"
            - "PROVISON_AN_KUNDENBETREUER_VOLLSTAENDIG_AUSGEZAHLT"
        produktAnbieter:
          type: "string"
          description: "application state loan provider-side"
          enum:
            - "NICHT_BEARBEITET"
            - "UNTERSCHRIEBEN"
            - "ABGELEHNT"
            - "ZURUECKGESTELLT"
        produktanbieterAblehnungsgrund:
          type: "string"
          description: "reason for rejection by loan provider"
          enum:
            - "FINANZIELLE_SITUATION"
            - "NEGATIV_MERKMAL"
            - "WERTERMITTLUNG"
            - "KRITERIEN"
            - "UNTERLAGEN_UNVOLLSTAENDIG"
            - "GEGENANGEBOT"
            - "KEINE_ANGABE"
    Antragsteller:
      type: "object"
      description: "customer"
      properties:
        absicherungsAngaben:
          $ref: "#/components/schemas/AbsicherungsAngaben"
        anrede:
          type: "string"
          description: "salutation"
          enum:
            - "FRAU"
            - "HERR"
        anschrift:
          $ref: "#/components/schemas/Postadresse"
        arbeitserlaubnis:
          type: "boolean"
          description: "only with non-EU nationality"
        arbeitserlaubnisBefristetBis:
          type: "string"
          format: "date"
          description: "only with restricted work permit"
        aufenthaltsTitel:
          type: "string"
          description: "only with non-EU nationality"
          enum:
            - "VISUM"
            - "AUFENTHALTS_ERLAUBNIS"
            - "NIEDERLASSUNGS_ERLAUBNIS"
            - "DAUERAUFENTHALT_EU"
            - "BLAUE_KARTE_EU"
        aufenthaltsTitelBefristetBis:
          type: "string"
          format: "date"
          description: "date of restricted residence permisson"
        berufsgruppeBeiIngDiba:
          type: "string"
          description:
            "professional group (ING) loan provider specific data (optional).\
            \ allowed values: ANGESTELLTER, ARBEITER, BEAMTER, FREIBERUFLER, SELBSTSTAENDIG,\
            \ RENTNER, HAUSMANN, PRIVATIER, SOLDAT, SCHUELER, AZUBI, STUDENT, OHNE.\
            \ (More value can be attached)"
        beschaeftigung:
          $ref: "#/components/schemas/Beschaeftigung"
        beschaeftigungImOeffentlichenDienstBeiDsl:
          type: "boolean"
        branche:
          type: "array"
          description:
            "sector, loan provider specific data (optional)(More value\
            \ can be attached)"
          items:
            $ref: "#/components/schemas/Branche"
        brancheBeiIngDiba:
          type: "string"
          deprecated: true
          description:
            "Deprecated. Pls use property 'branche'. sector (ING) loan\
            \ provider specific data (optional). allowed values: BANKEN_VERSICHERUNGEN,\
            \ BAUGEWERBE, DIENSTLEISTUNGEN_SONSTIGE, EDV_BERATUNG, ENERGIE, ERZIEHUNG_UNTERRICHT,\
            \ GESUNDHEITSWESEN, HANDEL, HANDWERK, HOTEL_GASTRONOMIE, LANDWIRTSCHAFT,\
            \ OEFFENTLICHER_DIENST, PRODUKTION_INDUSTRIE, VERKEHR.(More value can\
            \ be attached)"
        brancheBeiMhb:
          type: "string"
          deprecated: true
          description:
            "Deprecated. Pls use property 'branche'. sector (MHB) loan\
            \ provider specific data (optional). allowed values: VERARBEITENDES_GEWERBE,\
            \ BAU, HANDEL, VERKEHR_INFORMATION, DIENSTLEISTUNG, SONSTIGES.(More value\
            \ can be attached)"
        brancheBeiSRating:
          type: "string"
          deprecated: true
          description:
            "Deprecated. Pls use property 'branche'. sector (Sparkassen)\
            \ loan provider specific data (optional). allowed values: BAUGEWERBE,\
            \ DIENSTLEISTUNGEN, ENERGIE_UND_WASSERVERSORGUNG_BERGBAU, GEBIETSKOERPERSCHAFTEN_UND_SOZIALVERSICHERUNGEN,\
            \ GESUNDHEITSWESEN, HANDEL, HOTEL_UND_GASTRONOMIE, KREDITINSTITUTE, LAND_UND_FORSTWIRTSCHAFT_FISCHEREI,\
            \ OEFFENTLICHER_DIENST, ORGANISATIONEN_OHNE_ERWERBSZWECK_PRIVATE_HAUSHALTE,\
            \ VERARBEITENDES_GEWERBE, VERKEHR_UND_NACHRICHTENUEBERMITTLUNG, VERSICHERUNGEN,\
            \ SONSTIGE.(More value can be attached)"
        bruttoJahresEinkommenErwartet:
          type: "number"
        bruttoVorjahresEinkommen:
          type: "number"
        email:
          type: "string"
        externeAntragstellerId:
          type: "string"
        familienstand:
          type: "string"
          enum:
            - "GESCHIEDEN"
            - "GETRENNT_LEBEND"
            - "LEBENSPARTNERSCHAFT"
            - "LEDIG"
            - "VERHEIRATET"
            - "VERWITWET"
        geburtsdatum:
          type: "string"
          format: "date"
        geburtsort:
          type: "string"
          description:
            "place of birthloan provider specific data (optional) relevant\
            \ for building society safe loans"
        guetertrennungVereinbartWennVerheiratet:
          type: "boolean"
          description: "only if married"
        id:
          type: "string"
        inDeutschlandSeit:
          type: "string"
          format: "date"
          description: "only with non-EU nationality"
        legitimationsDaten:
          $ref: "#/components/schemas/LegitimationsDaten"
          description: "loan provider specific data (optional)"
        nachname:
          type: "string"
        schufaErgebnis:
          $ref: "#/components/schemas/SchufaErgebnis"
        sozialversicherungsnummer:
          type: "string"
        staatsangehoerigkeit:
          $ref: "#/components/schemas/Staat"
        steuerId:
          type: "string"
        telefonnummer:
          type: "string"
        telefonnummerVorwahl:
          type: "string"
        titelDoktor:
          type: "boolean"
        titelProfessor:
          type: "boolean"
        verheiratetMitAntragsteller:
          $ref: "#/components/schemas/AntragstellerVerknuepfung"
          description: "Deprecated. only if married"
        vorAnschrift:
          $ref: "#/components/schemas/Postadresse"
        vorname:
          type: "string"
        weitereKontaktMoeglichkeiten:
          type: "string"
        wohnhaftSeit:
          type: "string"
          format: "date"
    AntragstellerVerknuepfung:
      type: "object"
      properties:
        id:
          type: "string"
        name:
          type: "string"
          description: "only for better readability, pls use antragsteller-ressource"
    AusgabenMonatlich:
      type: "object"
      properties:
        ausgabenMonatlich:
          type: "number"
        zahlungsTyp:
          type: "string"
          description:
            "payment type, redundant entry serves as an additional filter\
            \ criterion"
          enum:
            - "EINNAHME"
            - "AUSGABE"
    Autostellplatz:
      type: "object"
      properties:
        mieteinnahmenMonatlich:
          type: "number"
        typ:
          type: "string"
          enum:
            - "STELLPLATZ"
            - "CARPORT"
            - "GARAGE"
            - "DOPPEL_GARAGE"
            - "KELLER_GARAGE"
            - "TIEFGARAGEN_STELLPLATZ"
    BankUndSparguthaben:
      type: "object"
      properties:
        aktuellerWert:
          type: "number"
        maximalAufzuloesenderWert:
          type: "number"
        vermoegensTyp:
          type: "string"
          description:
            "asset type, redundant entry serves as an additional filter\
            \ criterion"
          enum:
            - "VERMOEGEN"
            - "VERBINDLICHKEIT"
        zahlungsTyp:
          type: "string"
          description:
            "payment type, redundant entry serves as an additional filter\
            \ criterion"
          enum:
            - "EINNAHME"
            - "AUSGABE"
        zinsertragJaehrlich:
          type: "number"
    Bankverbindung:
      type: "object"
      description: "bank account"
      properties:
        bic:
          type: "string"
        iban:
          type: "string"
        id:
          type: "string"
        kontoinhaberIds:
          type: "array"
          items:
            type: "string"
        kontoinhaberName:
          type: "string"
        kreditinstitut:
          type: "string"
    BausparAngebot:
      type: "object"
      properties:
        abschlussGebuehr:
          type: "number"
        abschlussGebuehrenVerrechnung:
          type: "string"
          enum:
            - "SOFORTZAHLUNG"
            - "VERRECHNUNG"
        angebotsHinweisFuerAntragsteller:
          type: "string"
          description: "only with external building society saving loans an counteroffers"
        bausparSumme:
          type: "number"
        einmalzahlung:
          type: "number"
          deprecated: true
          description: "Deprecated. Einmalzahlungen are part of Sonderzahlungen."
        gesamtLaufzeitInJahren:
          type: "integer"
          format: "int32"
          description: "only with external building society saving loans"
        id:
          type: "string"
        produktAnbieter:
          $ref: "#/components/schemas/ProduktAnbieter"
        sonderZahlungen:
          type: "array"
          items:
            $ref: "#/components/schemas/SonderZahlung"
        sparBeginn:
          type: "string"
          format: "date"
        sparPhase:
          $ref: "#/components/schemas/SparPhase"
        tarif:
          type: "string"
          description: "name of tariff"
        tilgungsPhase:
          $ref: "#/components/schemas/TilgungsPhase"
        typ:
          type: "string"
        vertragsBeginn:
          type: "string"
          format: "date"
          description: "contract start"
        vertragsNummer:
          type: "string"
          description: "contract number"
        vertragsPartner:
          type: "array"
          description: "only with external building society saving loans"
          items:
            $ref: "#/components/schemas/AntragstellerVerknuepfung"
        verwaltungsgebuehrenJaehrlich:
          type: "number"
        zuteilungsDatum:
          type: "string"
          format: "date"
    Bausparvertrag:
      type: "object"
      description: "building society savings contract details"
      properties:
        abschlussGebuehr:
          type: "number"
        abschlussGebuehrenVerrechnung:
          type: "string"
          enum:
            - "SOFORTZAHLUNG"
            - "VERRECHNUNG"
        angebotsHinweisFuerAntragsteller:
          type: "string"
          description: "only with external building society saving loans an counteroffers"
        bausparSumme:
          type: "number"
        einmalzahlung:
          type: "number"
          deprecated: true
          description: "Deprecated. Einmalzahlungen are part of Sonderzahlungen."
        gesamtLaufzeitInJahren:
          type: "integer"
          format: "int32"
          description: "only with external building society saving loans"
        id:
          type: "string"
        produktAnbieter:
          $ref: "#/components/schemas/ProduktAnbieter"
        sonderZahlungen:
          type: "array"
          items:
            $ref: "#/components/schemas/SonderZahlung"
        sparBeginn:
          type: "string"
          format: "date"
        sparPhase:
          $ref: "#/components/schemas/SparPhase"
        tarif:
          type: "string"
          description: "name of tariff"
        tarifId:
          type: "string"
          description: "loan provider Tarif-ID of building society saving loan tariff"
        tilgungsPhase:
          $ref: "#/components/schemas/TilgungsPhase"
        typ:
          type: "string"
        vertragsBeginn:
          type: "string"
          format: "date"
          description: "contract start"
        vertragsNummer:
          type: "string"
          description: "contract number"
        vertragsPartner:
          type: "array"
          description: "list of applicants"
          items:
            $ref: "#/components/schemas/AntragstellerVerknuepfung"
        verwaltungsgebuehrenJaehrlich:
          type: "number"
        zuteilungsDatum:
          type: "string"
          format: "date"
    BeleihungsRechnung:
      type: "object"
      properties:
        beleihungsAuslauf:
          type: "number"
          description: "loan to value ratio"
        beleihungsWerte:
          type: "array"
          description: "list of mortgage values"
          items:
            $ref: "#/components/schemas/BeleihungsWert"
        beleihungsWerteSumme:
          type: "number"
          description: "sum of mortgage values"
        objektbewertungen:
          type: "array"
          description: "list of property valuations"
          items:
            $ref: "#/components/schemas/Objektbewertung"
        produktAnbieter:
          $ref: "#/components/schemas/ProduktAnbieter"
    BeleihungsWert:
      type: "object"
      properties:
        adresse:
          $ref: "#/components/schemas/Postadresse"
          description: "adress of property"
        beleihungsWert:
          type: "number"
          description: "mortgage value"
        immobilie:
          $ref: "#/components/schemas/ImmobilieVerknuepfung"
          description: "property"
    Beratung:
      type: "object"
      properties:
        art:
          type: "string"
          description: "advisory type"
          enum:
            - "PRAESENZ_GESCHAEFT"
            - "FERN_ABSATZ_GESCHAEFT"
            - "AUSSER_GESCHAEFTSRAUM_VERTRAG"
        hinweisFuerProduktAnbieter:
          type: "string"
          description: "advisors message for loan officer"
        istKundenBetreuerVerkaeuferOderMaklerDerImmobilie:
          type: "boolean"
          description: "true, if advisor is estate agent in this case too"
    Bereitstellung:
      type: "object"
      properties:
        bereitstellungsZins:
          type: "number"
          description: "commitment interest"
        bereitstellungsZinsFreieZeitInMonaten:
          type: "integer"
          format: "int32"
          description: "time of no commitment interest in month"
    Beschaeftigung:
      type: "object"
      description: "profession"
      properties:
        anzahlGehaelterProJahr:
          type: "number"
          format: "double"
          description: "only with art==ANGESTELLTER,ARBEITER,BEAMTER"
        arbeitgeber:
          type: "string"
          description: "only with art==ANGESTELLTER,ARBEITER,BEAMTER"
        arbeitgeberInDeutschlandAnsaessig:
          type: "boolean"
          description: "only with art==ANGESTELLTER,ARBEITER,BEAMTER"
        art:
          type: "string"
          enum:
            - "ANGESTELLTER"
            - "ARBEITER"
            - "ARBEITSLOSER"
            - "BEAMTER"
            - "FREIBERUFLER"
            - "HAUSFRAU"
            - "RENTNER"
            - "SELBSTAENDIGER"
        befristungsStatus:
          type: "string"
          description: "only with art==ANGESTELLTER,ARBEITER"
          enum:
            - "BEFRISTET"
            - "UNBEFRISTET"
        beruf:
          type: "string"
          description: "only with art!=RENTNER"
        beschaeftigtSeit:
          type: "string"
          format: "date"
          description: "only with art==ANGESTELLTER,ARBEITER,BEAMTER,FREIBERUFLER,SELBSTAENDIGER"
        einkommenNettoJaehrlich:
          type: "number"
          description: "only with art==FREIBERUFLER,SELBSTAENDIGER"
        einkommenNettoMonatlich:
          type: "number"
          description: "only with art==ANGESTELLTER,ARBEITER,BEAMTER"
        inProbezeit:
          type: "boolean"
          description: "only with art==ANGESTELLTER,ARBEITER,BEAMTER"
        situationNachRenteneintritt:
          $ref: "#/components/schemas/SituationNachRenteneintritt"
          description: "only with art!=RENTNER"
        sonstigesRegelmaessigesEinkommenNettoMonatlich:
          type: "number"
          description: "only with art==ARBEITSLOSER,HAUSFRAU"
        staatlicheRenteNettoMonatlich:
          type: "number"
          description: "only with art==RENTNER"
        taetigkeit:
          type: "string"
          description:
            "only with art==FREIBERUFLER,SELBSTAENDIGER. allowed values:\
            \  ALTENPFLEGER, AMBULANTER_KRANKENPFLEGER, ANWALT, APOTHEKER, ARCHITEKT,\
            \ ARZT, BESTATTER, DATENSCHUTZBEAUFTRAGTER, DEKORATEUR, DIAETASSISTENT,\
            \ DOLMETSCHER, EDV_BERATER, ERGOTHERAPEUT, ERNAEHRUNGSBERATER, FOTOGRAF,\
            \ GEOGRAF, GRAFIKDESIGNER, GRAFIKER, HEBAMME, HEILMASSEUR, HEILPRAKTIKER,\
            \ HISTORIKER, INFORMATIKER, INGENIEUR, INSOLVENZVERWALTER, JOURNALIST,\
            \ KLASSISCHER_KONZERTMUSIKER, KONSTRUKTEUR, KRANKENGYMNAST, KRANKENPFLEGER,\
            \ KRANKENSCHWESTER, LOGOPAEDE, MEDIZINISCH_TECHN_ASSISTENT, NOTAR, OPERNSAENGER,\
            \ PERSONALBERATER, PHYSIOTHERAPEUT, PSYCHOLOGE, RAUMAUSSTATTER, RUNDFUNKSPRECHER,\
            \ SACHVERSTAENDIGER, STADTPLANER, STATIKER, STEUERBERATER, TIERARZT, UNTERNEHMENSBERATER,\
            \ VERMITTLER, WIRTSCH_BUCHPRUEFER_REVISOR, ZAHNARZT, ZAHNTECHNIKER, SONSTIGES."
    BestehendeImmobilie:
      type: "object"
      description: "existing property"
      properties:
        adresse:
          $ref: "#/components/schemas/Postadresse"
        autostellplaetze:
          type: "array"
          items:
            $ref: "#/components/schemas/Autostellplatz"
        bestehendeDarlehen:
          type: "array"
          items:
            $ref: "#/components/schemas/BestehendesDarlehen"
        bodenRichtwert:
          type: "number"
          description: "loan provider specific data (optional)"
        erbbaurecht:
          $ref: "#/components/schemas/Erbbaurecht"
        gebaeude:
          $ref: "#/components/schemas/Gebaeude"
        grundbuchAngabe:
          $ref: "#/components/schemas/GrundbuchAngabe"
        grundstueck:
          $ref: "#/components/schemas/Grundstueck"
        id:
          type: "string"
        immobilienEinsatz:
          type: "string"
          enum:
            - "KEIN_EINSATZ"
            - "VERKAUFEN"
            - "ALS_ZUSATZSICHERHEIT"
        keinBaulandFlaecheInQm:
          type: "number"
          description: "loan provider specific data (optional)"
        marktueblicherKaufpreisProQm:
          type: "number"
          description: "loan provider specific data (optional)"
        maximalEinzusetzenderBetragWennVerkauf:
          type: "number"
        objektArt:
          type: "string"
          enum:
            - "GRUNDSTUECK"
            - "EIGENTUMSWOHNUNG"
            - "HAUS"
        vergleichsmieteFuerGewerbeflaecheProQm:
          type: "number"
          description: "loan provider specific data (optional)"
        vergleichsmieteFuerWohnflaecheProQm:
          type: "number"
          description: "loan provider specific data (optional)"
        verkehrswert:
          type: "number"
        vorlaeufigerVerkehrswert:
          type: "number"
          description: "loan provider specific data (optional)"
        wohnlage:
          type: "string"
          description:
            "loan provider specific data (optional). allowed values: GEHOBEN,MITTEL,EINFACH.\
            \ (More values can be attached)"
    BestehenderBausparvertrag:
      type: "object"
      properties:
        abschlussGebuehr:
          type: "number"
        aktuellerWert:
          type: "number"
        bausparSumme:
          type: "number"
        einmalzahlung:
          type: "number"
          deprecated: true
          description: "Deprecated. Einmalzahlungen are part of Sonderzahlungen."
        id:
          type: "string"
        maximalAufzuloesenderBetrag:
          type: "number"
        produktAnbieter:
          $ref: "#/components/schemas/ProduktAnbieter"
        sonderZahlungen:
          type: "array"
          items:
            $ref: "#/components/schemas/SonderZahlung"
        sparBeitragMonatlich:
          type: "number"
        tarif:
          type: "string"
          description: "name of tariff"
        typ:
          type: "string"
        vermoegensEinsatz:
          type: "string"
          enum:
            - "KEIN_EINSATZ"
            - "ABTRETEN"
            - "AUFLOESEN"
        vermoegensTyp:
          type: "string"
          description:
            "asset type, redundant entry serves as an additional filter\
            \ criterion"
          enum:
            - "VERMOEGEN"
            - "VERBINDLICHKEIT"
        vertragsBeginn:
          type: "string"
          format: "date"
          description: "contract start"
        vertragsNummer:
          type: "string"
          description: "contract number"
        verwaltungsgebuehrenJaehrlich:
          type: "number"
        zahlungsTyp:
          type: "string"
          description:
            "payment type, redundant entry serves as an additional filter\
            \ criterion"
          enum:
            - "EINNAHME"
            - "AUSGABE"
        zuteilungsDatum:
          type: "string"
          format: "date"
    BestehendesDarlehen:
      type: "object"
      properties:
        abzuloesendeRestschuld:
          type: "number"
          deprecated: true
          description: "Deprecated."
        aktuelleRestschuldWennNichtAbzuloesen:
          type: "number"
          deprecated: true
          description: "Deprecated. only with wirdAbgeloest==true"
        bausteinId:
          type: "string"
        darlehensArt:
          type: "string"
          description:
            "allowed values: BAUSPARDARLEHEN,FOERDERDARLEHEN,IMMOBILIENDARLEHEN,PRIVATDARLEHEN,SONSTIGES_DARLEHEN\
            \ (More values can be attached)"
          enum:
            - "BAUSPARDARLEHEN"
            - "FOERDERDARLEHEN"
            - "IMMOBILIENDARLEHEN"
            - "PRIVATDARLEHEN"
            - "SONSTIGES_DARLEHEN"
        darlehensBetrag:
          type: "number"
          description: "loan amount, only with verwendungszweck==ANSCHLUSSFINANZIERUNG"
        darlehensGeber:
          $ref: "#/components/schemas/ProduktAnbieter"
        darlehensKontonummer:
          type: "string"
          description: "account number of prolongation, only with verwendungszweck==ANSCHLUSSFINANZIERUNG"
        eingetrageneGrundschuld:
          type: "number"
        grundschuldArt:
          type: "string"
          description:
            "allowed values: BUCH_GRUNDSCHULD, BRIEF_GRUNDSCHULD (More\
            \ values can be attached)"
          enum:
            - "BUCH_GRUNDSCHULD"
            - "BRIEF_GRUNDSCHULD"
        hauptKontonummerDslBank:
          type: "string"
          description:
            "DSL account number, only with loan provider='DSL Bank' and\
            \ verwendungszweck==ANSCHLUSSFINANZIERUNG"
        id:
          type: "string"
        laufzeitEnde:
          type: "string"
          format: "date"
        rateMonatlich:
          type: "number"
        restschuldAktuell:
          type: "number"
          description: "remainder of debt"
        restschuldZumAbloeseTermin:
          type: "number"
          description:
            "calculated remainder of debt at end of the fixed interest\
            \ period"
        sollZins:
          type: "number"
        sondertilgungZumZinsBindungsEnde:
          type: "number"
          description:
            "amount of special redemption at the end of fixed interest\
            \ period, only with verwendungszweck==ANSCHLUSSFINANZIERUNG"
        wirdAbgeloest:
          type: "boolean"
          description: "TRUE if loan will be replaced"
        zinsBindungEndetAm:
          type: "string"
          format: "date"
    BestehendesDarlehenDesFinanzierungsObjekts:
      type: "object"
      properties:
        abzuloesendeRestschuld:
          type: "number"
          deprecated: true
          description: "Deprecated."
        aktuelleRestschuldWennNichtAbzuloesen:
          type: "number"
          deprecated: true
          description: "Deprecated. only with wirdAbgeloest==true"
        bausteinId:
          type: "string"
        darlehensArt:
          type: "string"
          description:
            "allowed values: BAUSPARDARLEHEN,FOERDERDARLEHEN,IMMOBILIENDARLEHEN,PRIVATDARLEHEN,SONSTIGES_DARLEHEN\
            \ (More values can be attached)"
          enum:
            - "BAUSPARDARLEHEN"
            - "FOERDERDARLEHEN"
            - "IMMOBILIENDARLEHEN"
            - "PRIVATDARLEHEN"
            - "SONSTIGES_DARLEHEN"
        darlehensBetrag:
          type: "number"
          description: "loan amount, only with verwendungszweck==ANSCHLUSSFINANZIERUNG"
        darlehensGeber:
          $ref: "#/components/schemas/ProduktAnbieter"
        darlehensKontonummer:
          type: "string"
          description: "account number of prolongation, only with verwendungszweck==ANSCHLUSSFINANZIERUNG"
        eingetrageneGrundschuld:
          type: "number"
        grundschuldArt:
          type: "string"
          description:
            "allowed values: BUCH_GRUNDSCHULD, BRIEF_GRUNDSCHULD (More\
            \ values can be attached)"
          enum:
            - "BUCH_GRUNDSCHULD"
            - "BRIEF_GRUNDSCHULD"
        hauptKontonummerDslBank:
          type: "string"
          description:
            "DSL account number, only with loan provider='DSL Bank' and\
            \ verwendungszweck==ANSCHLUSSFINANZIERUNG"
        id:
          type: "string"
        laufzeitEnde:
          type: "string"
          format: "date"
        rateMonatlich:
          type: "number"
        restschuldAktuell:
          type: "number"
          description: "remainder of debt"
        restschuldZumAbloeseTermin:
          type: "number"
          description:
            "calculated remainder of debt at end of the fixed interest\
            \ period"
        sollZins:
          type: "number"
        sondertilgungZumZinsBindungsEnde:
          type: "number"
          description:
            "amount of special redemption at the end of fixed interest\
            \ period, only with verwendungszweck==ANSCHLUSSFINANZIERUNG"
        verwendenAls:
          type: "string"
          enum:
            - "ABLOESEN"
            - "TRITT_IM_RANG_ZURUECK"
            - "TRITT_NICHT_IM_RANG_ZURUECK"
        wirdAbgeloest:
          type: "boolean"
          description: "TRUE if loan will be replaced"
        zinsBindungEndetAm:
          type: "string"
          format: "date"
    BewertungDurchProduktAnbieter:
      type: "object"
      properties:
        id:
          type: "string"
          description: "only produktAnbieterId==DEUTSCHE_BANK"
    Bonitaet:
      type: "object"
      description: "creditworthiness"
      properties:
        angerechneteLebensHaltungsKosten:
          type: "number"
          description: "included living costs"
        angerechneteRatenAllerFinanzierungsDarlehen:
          type: "number"
          description: "new loan rates"
        bewirtschaftungsKostenAllerFremdgenutzerFlaechen:
          type: "number"
          description: "operating costs for all external-used properties (rent)"
        haushaltsUeberschuss:
          type: "number"
          description: "budget surplus"
        kreditEntscheider:
          $ref: "#/components/schemas/ProduktAnbieter"
          description: "loan officer"
        nebenkostenAllerEigengenutzterWohnflaechen:
          type: "number"
          description: "ancillary costs for all own-used properties"
        produktAnbieter:
          $ref: "#/components/schemas/ProduktAnbieter"
          description: "loan provider"
    Branche:
      type: "object"
      description: "sector"
      properties:
        typ:
          type: "string"
          enum:
            - "ING"
            - "MHB"
            - "S_RATING"
        wert:
          type: "string"
          description:
            "diffrent values depended on type:\n\nsector ING allowed values:\
            \ BANKEN_VERSICHERUNGEN, BAUGEWERBE, DIENSTLEISTUNGEN_SONSTIGE, EDV_BERATUNG,\
            \ ENERGIE, ERZIEHUNG_UNTERRICHT, GESUNDHEITSWESEN, HANDEL, HANDWERK, HOTEL_GASTRONOMIE,\
            \ LANDWIRTSCHAFT, OEFFENTLICHER_DIENST, PRODUKTION_INDUSTRIE, VERKEHR\n\
            \nsector MHB allowed values: VERARBEITENDES_GEWERBE, BAU, HANDEL, VERKEHR_INFORMATION,\
            \ DIENSTLEISTUNG, SONSTIGES\n\nsector S_RATING allowed values: BAUGEWERBE,\
            \ DIENSTLEISTUNGEN, ENERGIE_UND_WASSERVERSORGUNG_BERGBAU, GEBIETSKOERPERSCHAFTEN_UND_SOZIALVERSICHERUNGEN,\
            \ GESUNDHEITSWESEN, HANDEL, HOTEL_UND_GASTRONOMIE, KREDITINSTITUTE, LAND_UND_FORSTWIRTSCHAFT_FISCHEREI,\
            \ OEFFENTLICHER_DIENST, ORGANISATIONEN_OHNE_ERWERBSZWECK_PRIVATE_HAUSHALTE,\
            \ VERARBEITENDES_GEWERBE, VERKEHR_UND_NACHRICHTENUEBERMITTLUNG, VERSICHERUNGEN,\
            \ SONSTIGE"
    Co2Emissionen:
      type: "object"
      properties:
        aktuell:
          type: "number"
          format: "double"
          description: "current CO2 emissions in kg per year and square meter"
        geplant:
          type: "number"
          format: "double"
          description: "planned CO2 emissions in kg per year and square meter"
    Darlehen:
      type: "object"
      description: "loan details"
      properties:
        auszahlungsBetrag:
          type: "number"
          description: "disbursement amount"
          example: 365000.0
        auszahlungsDatum:
          type: "string"
          format: "date"
          description: "disbursement date"
        auszahlungsKurs:
          type: "number"
          description: "disbursement ratio"
          example: 100.0
        bausparSumme:
          type: "number"
          description: "building savings amount, only with darlehensTyp==BAUSPAR_DARLEHEN"
        bausparTarif:
          type: "string"
          description: "building savings tariff, only with darlehensTyp==BAUSPAR_DARLEHEN"
        bausteinId:
          type: "string"
        bereitstellung:
          $ref: "#/components/schemas/Bereitstellung"
          description: "not with darlehensTyp==PRIVAT_DARLEHEN"
        darlehensBetrag:
          type: "number"
          description: "loan amount"
          example: 365000.0
        darlehensTyp:
          type: "string"
          enum:
            - "ANNUITAETEN_DARLEHEN"
            - "BAUSPAR_DARLEHEN"
            - "FORWARD_DARLEHEN"
            - "KFW_DARLEHEN"
            - "REGIONAL_FOERDER_DARLEHEN"
            - "PRIVAT_DARLEHEN"
            - "ZWISCHEN_FINANZIERUNG"
            - "VARIABLES_DARLEHEN"
            - "MODERNISIERUNGSDARLEHEN"
        detailsZurVerwendung:
          type: "string"
          description: "only with darlehensTyp==ZWISCHEN_FINANZIERUNG"
        effektivZins:
          type: "number"
          description: "actual interest"
          example: 2.35
        effektivZinsRelevanteKosten:
          $ref: "#/components/schemas/EffektivZinsKosten"
          description: "costs for calculation of actual interest"
        einstandsDatum:
          type: "string"
          format: "date-time"
          description: "debit interest date"
        forwardPeriodeInMonaten:
          type: "integer"
          format: "int32"
          description: "forward period in month, only with darlehensTyp==FORWARD_DARLEHEN"
        kalkulatorischesLaufzeitEnde:
          type: "string"
          format: "date"
          description: "calculated end of redemption period, not with darlehensTyp==ZWISCHEN_FINANZIERUNG"
        kennung:
          type: "string"
        kfwEnergieEffizienzGruppe:
          type: "string"
          description:
            "KfW-energy-reference-groups, only with darlehensTyp==KFW_DARLEHEN.\
            \ (allowed values: STANDARD, NEUBAU, SANIERUNG)Only relevant with KfW-Programm\
            \ 153, 261, 262. If new energy-reference-groups will follow, more values\
            \ can be attached.)"
        kfwEnergieEffizienzStandard:
          type: "string"
          description:
            "KfW-energy-standards, only with darlehensTyp==KFW_DARLEHEN\
            \ (allowed values: STANDARD_40, STANDARD_40_PLUS, STANDARD_40_EEK, STANDARD_40_NH,\
            \ STANDARD_55, STANDARD_55_EEK, STANDARD_70, STANDARD_70_EEK, STANDARD_85,\
            \ STANDARD_85_EEK, STANDARD_100, STANDARD_100_EEK, STANDARD_DENKMAL, STANDARD_DENKMAL_EEK,\
            \ KLIMAFREUNDLICH_STANDARD, KLIMAFREUNDLICH_QNG) Only relevant with KfW-Programm\
            \ 153, 261, 262. If new KfW-energy-standards will follow, more values\
            \ can be attached."
        kfwProgramm:
          type: "string"
          description:
            "KfW-program, only with darlehensTyp==KFW_DARLEHEN (allowed\
            \ values: PROGRAMM_124, PROGRAMM_151, PROGRAMM_152, PROGRAMM_153, PROGRAMM_159,\
            \ PROGRAMM_167, PROGRAMM_261, PROGRAMM_262, PROGRAMM_297, PROGRAMM_298,\
            \ PROGRAMM_300, PROGRAMM_308, PROGRAMM_358, PROGRAMM_359) If new KfW programs\
            \ will follow, more values can be attached."
        kfwSanierungsFahrplanLiegtVor:
          type: "boolean"
          description:
            "plan of refurbishment exists, with darlehensTyp==KFW_DARLEHEN\
            \ and program 261, 262"
        konditionWurdeManuellAngepasst:
          type: "boolean"
          description: "true, if advisor overrides the interest rate"
        konditionsAnpassungsBegruendung:
          type: "string"
          description: "reason for overriding interest rate"
        konditionsAnpassungsDelta:
          type: "number"
          description:
            "delta in percent-point of overriding (eg overrided 1,25% -\
            \ calculated 1,50% = delta -0,25%)."
          example: -0.25
        laufZeitInJahren:
          type: "integer"
          format: "int32"
          description: "only with darlehensTyp==KFW_DARLEHEN or darlehensTyp==REGIONAL_FOERDER_DARLEHEN"
        laufzeitInMonaten:
          type: "integer"
          format: "int32"
          description: "redemption period in month, only with darlehensTyp==PRIVAT_DARLEHEN"
        maximaleLaufzeitInMonaten:
          type: "integer"
          format: "int32"
          description: "only with darlehensTyp==ZWISCHEN_FINANZIERUNG"
        produktAnbieter:
          $ref: "#/components/schemas/ProduktAnbieter"
          description: "loan provider"
        produktAnbieterSpezifischeDarlehensMerkmale:
          type: "object"
          additionalProperties: {}
          description:
            "Additional lender-specific data. Only populated in specific\
            \ use cases when you sell your own credit products."
        produktFeatures:
          type: "array"
          description: "list of features specific to the credit product"
          items:
            type: "string"
            enum:
              - "ONE_CLICK"
              - "KONTO_CHECK"
        produktId:
          type: "string"
          description: "lender-specific identifier of the credit product"
        provision:
          $ref: "#/components/schemas/Provision"
          description: "commission"
        rateMonatlich:
          type: "number"
          description: "rate for redemption"
          example: 723.34
        rateMonatlichInDerTilgungsfreienAnlaufzeit:
          type: "number"
          description:
            "rate in the beginning years of no redemption, only with darlehensTyp==KFW_DARLEHEN\
            \ or darlehensTyp==REGIONAL_FOERDER_DARLEHEN"
        regionalFoerderbankProgramm:
          type: "string"
          description:
            "regional support program, only with darlehensTyp==REGIONAL_FOERDER_DARLEHEN\
            \ (allowed values: L_BANK_KOMBI_DARLEHEN_WOHNEN, L_BANK_WOHNEN_MIT_KIND,\
            \ NRW_BANK_WOHNEIGENTUM, NRW_BANK_GEBAEUDESANIERUNG, NRW_BANK_NACHHALTIG_WOHNEN.\
            \ If new program will follow, more values can be attached.)"
        sollZins:
          type: "number"
          description: "debit interest"
          example: 2.05
        tilgung:
          $ref: "#/components/schemas/Tilgung"
          description: "not with darlehensTyp==ZWISCHEN_FINANZIERUNG"
        tilgungsFreieAnlaufJahre:
          type: "integer"
          format: "int32"
          description:
            "beginning years of no redemption, only with darlehensTyp==KFW_DARLEHEN\
            \ or darlehensTyp==REGIONAL_FOERDER_DARLEHEN"
        vertragsPartner:
          type: "array"
          description: "only with external building society saving loans"
          items:
            $ref: "#/components/schemas/AntragstellerVerknuepfung"
        verwendungsZweck:
          type: "string"
          description: "only with darlehensTyp==ZWISCHEN_FINANZIERUNG"
          enum:
            - "VORFINANZIERUNG_OEFFENTLICHER_MITTEL"
            - "VERKAUF_EINES_ANDEREN_OBJEKTS"
            - "SONSTIGE_VERWENDUNG"
        zinsBindung:
          $ref: "#/components/schemas/ZinsBindung"
          description: "not with darlehensTyp IN [VARIABLES_DARLEHEN,ZWISCHEN_FINANZIERUNG]"
        zinsZahlungsBeginnAm:
          type: "string"
          format: "date"
          description:
            "start of payment of interest (begins with loan disbursement\
            \ or reaching the end time of no commitment interest)"
    Dokument:
      type: "object"
      properties:
        art:
          type: "string"
          description: "partly not available"
        href:
          type: "string"
          format: "uri"
        name:
          type: "string"
          description: "source filename with extension"
        titel:
          type: "string"
          description: "document name"
        type:
          type: "string"
          description:
            "mediatype of document, see <a href=\"http://tools.ietf.org/html/rfc7231#section-3.1.1.1\"\
            >HTTP 1.1: Semantics and Content, section 3.1.1.1</a>"
    EffektivZinsKosten:
      type: "object"
      properties:
        beratungsHonorar:
          type: "number"
        grundbuchKosten:
          type: "number"
        laufendeVerwaltungskostenJaehrlich:
          type: "number"
        sonstigeKosten:
          type: "number"
        tilgungsErsatzProduktKosten:
          type: "number"
        wohnGebaeudeVersicherungsKosten:
          type: "number"
        zinsabsicherungsKosten:
          type: "number"
        zusatzSicherheitsKosten:
          type: "number"
    EinkuenfteAusNebentaetigkeit:
      type: "object"
      properties:
        beginnDerNebentaetigkeit:
          type: "string"
          format: "date"
        einnahmenMonatlich:
          type: "number"
        zahlungsTyp:
          type: "string"
          description:
            "payment type, redundant entry serves as an additional filter\
            \ criterion"
          enum:
            - "EINNAHME"
            - "AUSGABE"
    EinnahmenMonatlich:
      type: "object"
      properties:
        einnahmenMonatlich:
          type: "number"
        zahlungsTyp:
          type: "string"
          description:
            "payment type, redundant entry serves as an additional filter\
            \ criterion"
          enum:
            - "EINNAHME"
            - "AUSGABE"
    Eintrag:
      type: "object"
      properties:
        abgeltungssteuer:
          type: "number"
        datum:
          type: "string"
          format: "date"
        kontofuehrungsGebuehr:
          type: "number"
        laufendeGebuehr:
          type: "number"
        riesterZulage:
          type: "number"
        saldo:
          type: "number"
        tilgung:
          type: "number"
        typ:
          type: "string"
          description:
            "Redemption plan can contain monthly-, aggregated payments\
            \ or info items."
          enum:
            - "EINTRAG"
            - "AGGREGIERTER_EINTRAG"
            - "SUMMEN_EINTRAG_ZUM_ZINSBINDUNGSENDE"
        zahlung:
          type: "number"
        zahlungsTyp:
          type: "string"
          enum:
            - "EINZAHLUNG"
            - "AUSZAHLUNG"
        zinsen:
          type: "number"
    EndEnergie:
      type: "object"
      properties:
        aktuell:
          type: "number"
          format: "double"
          description: "current energy consumption in kWh per year and square meter"
        geplant:
          type: "number"
          format: "double"
          description: "planned energy consumption in kWh per year and square meter"
    EnergieEffizienzAusweis:
      type: "object"
      properties:
        ausweisTyp:
          type: "string"
          description: "type of energy"
          enum:
            - "ENDENERGIEBEDARF"
            - "ENDENERGIEVERBRAUCH"
        co2Emissionen:
          $ref: "#/components/schemas/Co2Emissionen"
        endEnergie:
          $ref: "#/components/schemas/EndEnergie"
        primaerEnergieTyp:
          type: "string"
          description: "primary used energy type"
          enum:
            - "OEL_GAS"
            - "PHOTOVOLTAIK_WINDKRAFT"
            - "WAERME_KAELTE"
            - "STEINKOHLE"
            - "BRAUNKOHLE"
            - "NETZSTROM"
            - "VERDRAENGUNGSSTROM"
            - "HOLZ"
            - "ABFAELLE"
            - "SONSTIGES"
    Erbbaurecht:
      type: "object"
      properties:
        erbbauzinsJaehrlich:
          type: "number"
        grundstuecksEigentuemer:
          type: "string"
          enum:
            - "ANDERE"
            - "OEFFENTLICH_KIRCHLICH"
        laufzeitBisJahr:
          type: "integer"
          format: "int32"
          description: "4-digit year"
          example: 2022
    Finanzbedarf:
      type: "object"
      properties:
        anzahlTeilzahlungen:
          type: "integer"
          format: "int32"
          description:
            "Number of payouts for purchase from a property developer or\
            \ a renovation"
        aussenAnlagen:
          type: "number"
          description: "costs for gardening"
        bauNebenkosten:
          type: "number"
          description:
            "additional costs for construction (eg connection to power-net,\
            \ telecommunication and waste water)"
        bereitsBeglichen:
          type: "number"
          description: "costs already paid"
        erschliessung:
          type: "number"
          description: "costs for development"
        grunderwerbsteuer:
          type: "number"
          description: "real property acquisition tax, ancillary costs"
        grundstueckBereitsBezahlt:
          type: "boolean"
          description:
            "'true' -> land already paid, 'false' - land not yet paid,\
            \ 'null' if not 'Neubau'"
        grundstuecksKaufpreis:
          type: "number"
          description: "purchasing costs for land"
        herstellung:
          type: "number"
          description: "construction costs, including personal contribution"
        kapitalBeschaffung:
          type: "number"
          description: "capital procurement from existing properties"
        kaufpreis:
          type: "number"
          description: "purchasing price"
        maklergebuehr:
          type: "number"
          description: "estate agents commission, ancillary costs"
        mobiliar:
          type: "number"
          description: "furniture costs"
        modernisierung:
          type: "number"
          description: "refurbishment costs, including personal contribution"
        notargebuehr:
          type: "number"
          description: "notary fee, ancillary costs"
        renovierung:
          type: "number"
          description: "renovation costs, including personal contribution"
        sonstigeKosten:
          type: "number"
          description: "other costs"
        zusaetzlichesKapital:
          type: "number"
          description: "additional capital"
    FinanzierungsObjekt:
      type: "object"
      properties:
        adresse:
          $ref: "#/components/schemas/Postadresse"
        autostellplaetze:
          type: "array"
          items:
            $ref: "#/components/schemas/Autostellplatz"
        bestehendeDarlehen:
          type: "array"
          items:
            $ref: "#/components/schemas/BestehendesDarlehenDesFinanzierungsObjekts"
        bodenRichtwert:
          type: "number"
          description: "loan provider specific data (optional)"
        erbbaurecht:
          $ref: "#/components/schemas/Erbbaurecht"
        gebaeude:
          $ref: "#/components/schemas/Gebaeude"
        grundbuchAngabe:
          $ref: "#/components/schemas/GrundbuchAngabe"
        grundstueck:
          $ref: "#/components/schemas/Grundstueck"
        id:
          type: "string"
        keinBaulandFlaecheInQm:
          type: "number"
          description: "loan provider specific data (optional)"
        marktueblicherKaufpreisProQm:
          type: "number"
          description: "loan provider specific data (optional)"
        objektArt:
          type: "string"
          enum:
            - "GRUNDSTUECK"
            - "EIGENTUMSWOHNUNG"
            - "HAUS"
        vergleichsmieteFuerGewerbeflaecheProQm:
          type: "number"
          description: "loan provider specific data (optional)"
        vergleichsmieteFuerWohnflaecheProQm:
          type: "number"
          description: "loan provider specific data (optional)"
        verkehrswert:
          type: "number"
          description:
            "only relevant for AnschlussFinanzierung, Modernisierung und\
            \ Kapitalbeschaffung"
        vorlaeufigerVerkehrswert:
          type: "number"
          description: "loan provider specific data (optional)"
        wohnlage:
          type: "string"
          description:
            "loan provider specific data (optional). allowed values: GEHOBEN,MITTEL,EINFACH.\
            \ (More values can be attached)"
    Flurstueck:
      type: "object"
      properties:
        anteil:
          $ref: "#/components/schemas/MiteigentumsAnteil"
          description: "owning part"
        flur:
          type: "string"
          description: "plot area"
        flurstuecksNummer:
          type: "string"
          description: "plot number"
        groesse:
          type: "number"
          description: "area dimension in square meter"
    ForwardDarlehen:
      allOf:
        - $ref: "#/components/schemas/GegenangebotDarlehen"
        - type: "object"
          properties:
            bereitstellungsZins:
              type: "number"
            bereitstellungsZinsFreieZeitInMonaten:
              type: "integer"
              format: "int32"
            forwardPeriodeInMonaten:
              type: "integer"
              format: "int32"
            laufzeitKalkulatorischInJahren:
              type: "integer"
              format: "int32"
            sonderTilgungJaehrlich:
              type: "number"
            tilgungsBeginnAm:
              type: "string"
              format: "date-time"
              example: "2020-03-28"
            zinsBindungInJahren:
              type: "integer"
              format: "int32"
      description: "extends GegenangebotDarlehen"
      required:
        - "anfaenglicheTilgung"
        - "bereitstellungsZinsFreieZeitInMonaten"
        - "darlehensBetrag"
        - "darlehensTyp"
        - "effektivZins"
        - "forwardPeriodeInMonaten"
        - "laufzeitKalkulatorischInJahren"
        - "rateMonatlich"
        - "sollZins"
        - "sonderTilgungJaehrlich"
        - "vertriebsProvisionGesamtAbsolut"
        - "zinsBindungInJahren"
    Gebaeude:
      type: "object"
      properties:
        anzahlDerGewerbeeinheiten:
          type: "integer"
          format: "int32"
          description: "only with ObjektArt == HAUS."
        anzahlDerWohneinheitenImGebaeude:
          type: "integer"
          format: "int32"
        anzahlVollgeschosse:
          type: "integer"
          format: "int32"
        ausstattung:
          type: "string"
          description:
            "equipment of property for the automatic mortage evaluation\
            \ (VDP), not ING, allowed values: EINFACH,MITTEL,GEHOBEN,STARK_GEHOBEN\
            \ (More values can be attached)"
        baujahr:
          type: "integer"
          format: "int32"
          description:
            "construction year of property. Only with verwendungsZweck\
            \ != NEUBAU4-digit year"
          example: 2022
        bauweise:
          type: "string"
          description:
            "allowed values: FACHWERK_MIT_STROH_LEHM,FACHWERK_MIT_ZIEGELN,GLAS_STAHL,HOLZ,MASSIV\
            \ (More values can be attached)"
        bezeichnungWohneinheit:
          type: "string"
          description: "only with ObjektArt == EIGENTUMSWOHNUNG."
        dachgeschossAusbau:
          type: "string"
          description:
            "only with ObjektArt == HAUS. allowed values: FLACHDACH,NICHT_AUSGEBAUT,TEILWEISE_AUSGEBAUT,VOLL_AUSGEBAUT\
            \ (More values can be attached)"
        denkmalschutz:
          type: "boolean"
        einliegerwohnungVorhanden:
          type: "boolean"
          description: "only with ObjektArt == HAUS."
        energieEffizienzAusweis:
          $ref: "#/components/schemas/EnergieEffizienzAusweis"
        gewerbeflaeche:
          $ref: "#/components/schemas/GebaeudeFlaeche"
        hausAnordnung:
          type: "string"
          enum:
            - "FREISTEHEND"
            - "KOPFHAUS"
            - "MITTELHAUS"
        hausTyp:
          type: "string"
          description: "only with ObjektArt == HAUS."
          enum:
            - "DOPPELHAUSHAELFTE"
            - "EINFAMILIENHAUS"
            - "MEHRFAMILIENHAUS"
            - "REIHENHAUS"
            - "ZWEIFAMILIENHAUS"
        istFertighaus:
          type: "boolean"
          description: "only with ObjektArt == HAUS."
        kubatur:
          type: "number"
          description: "Angabe in Kubikmetern. loan provider specific data (optional)"
        miteigentumsAnteil:
          $ref: "#/components/schemas/MiteigentumsAnteil"
          description: "only with ObjektArt == EIGENTUMSWOHNUNG."
        modernisierungen:
          type: "array"
          description: "loan provider specific data (optional)"
          items:
            $ref: "#/components/schemas/Modernisierung"
        modernisierungsAngaben:
          $ref: "#/components/schemas/ModernisierungsAngaben"
          deprecated: true
          description: "Deprecated. Pls use list of refurbishment."
        unterkellerung:
          type: "string"
          description:
            "only with ObjektArt == HAUS. allowed values: NICHT_UNTERKELLERT,TEILWEISE_UNTERKELLERT,UNTERKELLERT\
            \ (More values can be attached)"
        wohnflaeche:
          $ref: "#/components/schemas/GebaeudeFlaeche"
        zustand:
          type: "string"
          description:
            "condition of the property for the automatic mortage evaluation\
            \ (VDP)"
          enum:
            - "SEHR_GUT"
            - "GUT"
            - "MITTEL"
            - "MAESSIG"
            - "SCHLECHT"
    GebaeudeFlaeche:
      type: "object"
      properties:
        gesamtGroesse:
          type: "number"
        vermietungsInformationen:
          $ref: "#/components/schemas/VermietungsInformationen"
    Gegenangebot:
      type: "object"
      properties:
        darlehen:
          type: "array"
          items:
            $ref: "#/components/schemas/GegenangebotDarlehen"
        kennung:
          type: "string"
          description: "name of offer, visible in advisors offerlist, eg. 'Sonderangebot' "
      required:
        - "darlehen"
    GegenangebotDarlehen:
      type: "object"
      description: "Base class for counter offers"
      discriminator:
        mapping:
          ANNUITAETEN_DARLEHEN: "#/components/schemas/AnnuitaetenDarlehen"
          FORWARD_DARLEHEN: "#/components/schemas/ForwardDarlehen"
          KFW_DARLEHEN: "#/components/schemas/KfwDarlehen"
          PRIVAT_DARLEHEN: "#/components/schemas/PrivatDarlehen"
          REGIONAL_FOERDER_DARLEHEN: "#/components/schemas/RegionalFoerderDarlehen"
          VARIABLES_DARLEHEN: "#/components/schemas/VariablesDarlehen"
          ZWISCHEN_FINANZIERUNG: "#/components/schemas/ZwischenFinanzierung"
        propertyName: "darlehensTyp"
      properties:
        anfaenglicheTilgung:
          type: "number"
        darlehensBetrag:
          type: "number"
        darlehensTyp:
          type: "string"
          description:
            "The value of this enum determines which class is being used.\
            \ See the implementing classes for more details."
          enum:
            - "ANNUITAETEN_DARLEHEN"
            - "FORWARD_DARLEHEN"
            - "PRIVAT_DARLEHEN"
            - "VARIABLES_DARLEHEN"
            - "KFW_DARLEHEN"
            - "REGIONAL_FOERDER_DARLEHEN"
            - "ZWISCHEN_FINANZIERUNG"
        effektivZins:
          type: "number"
        produktDetails:
          type: "string"
          description: "description for advisor"
        rateMonatlich:
          type: "number"
        sollZins:
          type: "number"
        vertriebsProvisionGesamtAbsolut:
          type: "number"
          description:
            "sum of sales commission (advisor and overhead), europace fee\
            \ is excluded"
      required:
        - "anfaenglicheTilgung"
        - "darlehensBetrag"
        - "darlehensTyp"
        - "effektivZins"
        - "rateMonatlich"
        - "sollZins"
        - "vertriebsProvisionGesamtAbsolut"
    GrundbuchAngabe:
      type: "object"
      properties:
        amtsgericht:
          type: "string"
          description: "competent local court"
        anmerkungen:
          type: "string"
          description: "comment"
        bandUndBlatt:
          type: "string"
          description: "book and page"
        flurstuecke:
          type: "array"
          description: "plot of land"
          items:
            $ref: "#/components/schemas/Flurstueck"
        ort:
          type: "string"
          description:
            "place of the local court responsible as the land registry\
            \ office"
        rechteInAbteilung2:
          $ref: "#/components/schemas/RechteAbteilung2"
          description:
            "Encumbrances and restrictions on the usability of the property.\
            \ Pipeline rights, waivers of distance areas, rights of way, insolvency\
            \ notices."
    Grundstueck:
      type: "object"
      description: "plot"
      properties:
        groesse:
          type: "number"
          description: "plot dimensions in square meter"
        grundstuecksArt:
          type: "string"
          description: "type of plot"
          enum:
            - "UNBEBAUTES_WOHNGRUNDSTUECK"
            - "UNBEBAUTES_MISCHGRUNDSTUECK"
            - "UNBEBAUTES_GEWERBEGRUNDSTUECK"
            - "LANDWIRTSCHAFTLICHES_GRUNDSTUECK"
            - "SONSTIGES_GRUNDSTUECK"
    Haushalt:
      type: "object"
      description: "household"
      properties:
        antragsteller:
          type: "array"
          items:
            $ref: "#/components/schemas/Antragsteller"
        anzahlErwachseneImHaushalt:
          type: "integer"
          format: "int32"
          description: "loan provider specific data (optional)"
        anzahlKinderNichtImHaushalt:
          type: "integer"
          format: "int32"
          description: "loan provider specific data (optional)"
        bestehendeImmobilien:
          type: "array"
          items:
            $ref: "#/components/schemas/BestehendeImmobilie"
        erfahrungImmobilienFinanzierung:
          type: "boolean"
          description: "customer has financed before"
        id:
          type: "string"
        kfzAnzahl:
          type: "integer"
          format: "int32"
          description: "loan provider specific data (optional)"
        kinder:
          type: "array"
          items:
            $ref: "#/components/schemas/Kind"
        lebenshaltungsKostenMonatlich:
          type: "number"
          description: "loan provider specific data (optional) (DSL Bank)"
        obligo:
          $ref: "#/components/schemas/VermoegenVerbindlichkeiten"
        positionen:
          $ref: "#/components/schemas/HaushaltsPositionen"
    HaushaltsPositionen:
      type: "object"
      properties:
        bankUndSparguthaben:
          type: "array"
          items:
            $ref: "#/components/schemas/BankUndSparguthaben"
        bausparvertraege:
          type: "array"
          items:
            $ref: "#/components/schemas/BestehenderBausparvertrag"
        ehegattenUnterhalt:
          type: "array"
          items:
            $ref: "#/components/schemas/EinnahmenMonatlich"
        einkuenfteAusNebentaetigkeit:
          type: "array"
          items:
            $ref: "#/components/schemas/EinkuenfteAusNebentaetigkeit"
        kindergeld:
          type: "array"
          description:
            "read-only. Will be calculated based on children-data. One\
            \ entry per child."
          items:
            $ref: "#/components/schemas/EinnahmenMonatlich"
        lebensUndRentenVersicherungen:
          type: "array"
          items:
            $ref: "#/components/schemas/LebensOderRentenversicherungVermoegen"
        mietAusgaben:
          type: "array"
          items:
            $ref: "#/components/schemas/MietAusgaben"
        privateDarlehen:
          type: "array"
          items:
            $ref: "#/components/schemas/Verbindlichkeit"
        privateKrankenversicherung:
          type: "array"
          items:
            $ref: "#/components/schemas/AusgabenMonatlich"
        ratenkredite:
          type: "array"
          items:
            $ref: "#/components/schemas/Verbindlichkeit"
        sonstigeAusgaben:
          type: "array"
          items:
            $ref: "#/components/schemas/AusgabenMonatlich"
        sonstigeEinnahmen:
          type: "array"
          items:
            $ref: "#/components/schemas/EinnahmenMonatlich"
        sonstigeVerbindlichkeiten:
          type: "array"
          items:
            $ref: "#/components/schemas/Verbindlichkeit"
        sonstigeVermoegen:
          type: "array"
          items:
            $ref: "#/components/schemas/Vermoegen"
        sparplaene:
          type: "array"
          items:
            $ref: "#/components/schemas/Sparplaene"
        unbefristeteZusatzRenten:
          type: "array"
          items:
            $ref: "#/components/schemas/EinnahmenMonatlich"
        unterhaltsVerpflichtungen:
          type: "array"
          items:
            $ref: "#/components/schemas/AusgabenMonatlich"
        variableEinkuenfte:
          type: "array"
          items:
            $ref: "#/components/schemas/EinnahmenMonatlich"
        versicherungsAusgaben:
          type: "array"
          items:
            $ref: "#/components/schemas/AusgabenMonatlich"
        wertpapiere:
          type: "array"
          items:
            $ref: "#/components/schemas/Wertpapiere"
    ImmobilieVerknuepfung:
      type: "object"
      properties:
        id:
          type: "string"
    KfwDarlehen:
      allOf:
        - $ref: "#/components/schemas/GegenangebotDarlehen"
        - type: "object"
          properties:
            bereitstellungsZins:
              type: "number"
            bereitstellungsZinsFreieZeitInMonaten:
              type: "integer"
              format: "int32"
            kfwEnergieEffizienzGruppe:
              type: "string"
              description: "only with PROGRAMM_261, PROGRAMM_262"
              enum:
                - "STANDARD"
                - "NEUBAU"
                - "SANIERUNG"
            kfwEnergieEffizienzStandard:
              type: "string"
              description: "only with PROGRAMM_153, PROGRAMM_261, PROGRAMM_262"
              enum:
                - "STANDARD_40"
                - "STANDARD_40_PLUS"
                - "STANDARD_40_EEK"
                - "STANDARD_40_NH"
                - "STANDARD_55"
                - "STANDARD_55_EEK"
                - "STANDARD_70"
                - "STANDARD_70_EEK"
                - "STANDARD_85"
                - "STANDARD_85_EEK"
                - "STANDARD_100"
                - "STANDARD_100_EEK"
                - "STANDARD_DENKMAL"
                - "STANDARD_DENKMAL_EEK"
                - "KLIMAFREUNDLICH_STANDARD"
                - "KLIMAFREUNDLICH_QNG"
            kfwProgramm:
              type: "string"
              enum:
                - "PROGRAMM_124"
                - "PROGRAMM_151"
                - "PROGRAMM_152"
                - "PROGRAMM_153"
                - "PROGRAMM_159"
                - "PROGRAMM_167"
                - "PROGRAMM_261"
                - "PROGRAMM_262"
                - "PROGRAMM_297"
                - "PROGRAMM_298"
                - "PROGRAMM_300"
                - "PROGRAMM_308"
                - "PROGRAMM_358"
                - "PROGRAMM_359"
            kfwSanierungsFahrplanLiegtVor:
              type: "boolean"
              description: "only with PROGRAMM_261, PROGRAMM_262"
            laufzeitKalkulatorischInJahren:
              type: "integer"
              format: "int32"
            rateMonatlichInDerTilgungsfreienAnlaufzeit:
              type: "number"
            tilgungsFreieAnlaufJahre:
              type: "integer"
              format: "int32"
            zinsBindungInJahren:
              type: "integer"
              format: "int32"
      description: "extends GegenangebotDarlehen"
      required:
        - "anfaenglicheTilgung"
        - "bereitstellungsZins"
        - "bereitstellungsZinsFreieZeitInMonaten"
        - "darlehensBetrag"
        - "darlehensTyp"
        - "effektivZins"
        - "kfwProgramm"
        - "laufzeitKalkulatorischInJahren"
        - "rateMonatlich"
        - "rateMonatlichInDerTilgungsfreienAnlaufzeit"
        - "sollZins"
        - "tilgungsFreieAnlaufJahre"
        - "vertriebsProvisionGesamtAbsolut"
        - "zinsBindungInJahren"
    KfwKonditionsReservierung:
      type: "object"
      properties:
        erfolgreichReserviert:
          type: "boolean"
          description:
            "TRUE if reservation is commited by KfW-API, FALSE if errors\
            \ occurs, null if no reservation was called"
        gueltigBis:
          type: "string"
          format: "date"
          description: "end of reservation date"
        reservierungsMeldung:
          type: "string"
          description: "error message, null if no error occured"
        sofortbestaetigungId:
          type: "string"
          description: "SofortbestätigungID of KfW for successful reservation"
    Kind:
      type: "object"
      properties:
        geburtsdatum:
          type: "string"
          format: "date"
        kindergeldWirdBezogen:
          type: "boolean"
        name:
          type: "string"
        unterhaltsEinnahmenBetragMonatlich:
          type: "number"
    LebensOderRentenversicherungVermoegen:
      type: "object"
      properties:
        id:
          type: "string"
        maximalAufzuloesenderBetrag:
          type: "number"
        praemieMonatlich:
          type: "number"
        rueckkaufsWertAktuell:
          type: "number"
        tarif:
          type: "string"
          description: "name of tariff"
        typ:
          type: "string"
          enum:
            - "KAPITALBILDENDE_LEBENSVERSICHERUNG"
            - "FONDSGEBUNDENE_LEBENSVERSICHERUNG"
            - "KAPITALBILDENDE_RENTENVERSICHERUNG"
            - "FONDSGEBUNDENE_RENTENVERSICHERUNG"
            - "RISIKO_LEBENSVERSICHERUNG"
        vermoegensEinsatz:
          type: "string"
          enum:
            - "KEIN_EINSATZ"
            - "ABTRETEN"
            - "AUFLOESEN"
        vermoegensTyp:
          type: "string"
          description:
            "asset type, redundant entry serves as an additional filter\
            \ criterion"
          enum:
            - "VERMOEGEN"
            - "VERBINDLICHKEIT"
        versicherungsGesellschaft:
          type: "string"
        versicherungsSumme:
          type: "number"
        vertragsBeginn:
          type: "string"
          format: "date"
          description: "contract start"
        vertragsEnde:
          type: "string"
          format: "date"
        vertragsNummer:
          type: "string"
          description: "contract number"
        verwaltungsgebuehrenJaehrlich:
          type: "number"
        zahlungsTyp:
          type: "string"
          description:
            "payment type, redundant entry serves as an additional filter\
            \ criterion"
          enum:
            - "EINNAHME"
            - "AUSGABE"
    LegitimationsDaten:
      type: "object"
      properties:
        ausstellendeBehoerde:
          type: "string"
        ausstellungsdatum:
          type: "string"
          format: "date"
        ausweisArt:
          type: "string"
          description: "type of pass"
          enum:
            - "PERSONALAUSWEIS"
            - "REISEPASS"
            - "ANDERE"
        ausweisArtBeiAndererAusweis:
          type: "string"
          description: "only with ausweisArt = ANDERE"
        ausweisNummer:
          type: "string"
    Link:
      type: "object"
      properties:
        deprecation:
          type: "string"
        href:
          type: "string"
        hreflang:
          type: "string"
        name:
          type: "string"
        profile:
[...]
